<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="space-between">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Données de bases</span>
                    <span class="parent"> </span>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent" href="javascript:;"> PAC</span>
                </div>
    
                <!--div class="title">PHASE EXECUTION ET ANNEE</div-->
            </div>
        </div>
        <div class="content" layout="column"  >
            <div class="form-wrapper md-whiteframe-1dp" >
                
                <md-tabs md-dynamic-height layout="column" flex>
                    <md-tab label="PAC">
                        <md-tab-body>
                            <div style="overflow: auto; width: 100%;">
                                <fieldset layout="column" layout-gt-xs="row">
                                    <legend>
                                            PAC
                                        <md-button class="md-fab md-mini " aria-label="Use Android" ng-if="vm.serveur_central" ng-click="vm.ajouterPac()">
                                          <md-icon md-svg-src="assets/icons/svg/add.svg" style="color: greenyellow;"></md-icon>
                                        </md-button>
            
                                        <!--md-button class="md-fab md-mini " aria-label="Use Android" ng-if="!vm.serveur_central" ng-click="vm.download_ddb('pac/index','pac')">
                                          <md-icon md-svg-src="assets/icons/svg/down.svg" style="color: greenyellow;"></md-icon>
                                        </md-button-->
                                    </legend>
                                    <div flex>
                                        <table ng-table="tablePac" id="tablePac" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                            <thead>
                                                <tr>
                                                    <th class="secondary-text" ng-repeat="c in ::vm.pac_column">
                                                        <div class="table-header">
                                                            <span class="column-title">{{c.titre}}</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pa in vm.allPac"  ng-class="{selected: pa.$selected}" ng-click="vm.selectionPac(pa)">                                       
                                                    
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100%; display: flex !important;">
                                                              <label>Ile</label>
                                                                <md-select ng-model="pa.id_ile"  style="width:90px;overflow: hidden;text-overflow: ellipsis;" ng-change="vm.modifierIle(pa)">
                                                                    <md-option value=''>&nbsp;</md-option>
                                                                  <md-option ng-repeat="vil in vm.allIle" value="{{vil.id}}">
                                                                    {{vil.Ile}}
                                                                  </md-option>
                                                                </md-select>
                                                            </md-input-container>  
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.ile.Ile}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100%; display: flex !important;">
                                                              <label>Region</label>
                                                                <md-select ng-model="pa.id_region"  style="width:90px;overflow: hidden;text-overflow: ellipsis;" ng-disabled="!pa.id_ile" ng-change="vm.modifierRegion(pa)">
                                                                    <md-option value=''>&nbsp;</md-option>
                                                                  <md-option ng-repeat="reg in vm.allRegion" value="{{reg.id}}">
                                                                    {{reg.Region}}
                                                                  </md-option>
                                                                </md-select>
                                                            </md-input-container>  
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.region.Region}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100%; display: flex !important;">
                                                              <label>Commune</label>
                                                                <md-select ng-model="pa.id_commune"  style="width:90px;overflow: hidden;text-overflow: ellipsis;" ng-disabled="!pa.id_region">
                                                                
                                                                  <md-option ng-repeat="comu in vm.allCommune" value="{{comu.id}}">
                                                                    {{comu.Commune}}
                                                                  </md-option>
                                                                </md-select>
                                                            </md-input-container>  
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.commune.Commune}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100%; display: flex !important;">
                                                              <label>Zip</label>
                                                                <md-select ng-model="pa.id_zip"  style="width:90px;overflow: hidden;text-overflow: ellipsis;">
                                                                
                                                                  <md-option ng-repeat="zp in vm.allZip" value="{{zp.id}}">
                                                                    {{zp.libelle}}
                                                                  </md-option>
                                                                </md-select>
                                                            </md-input-container>  
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.zip.libelle}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Milieu physique</label>
                                                                <input name="milieu_physique" type="text" ng-model="pa.milieu_physique"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.milieu_physique}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Condition limatique</label>
                                                                <input name="condition_climatique" type="text" ng-model="pa.condition_climatique"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.condition_climatique}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Difficulté socio-économique</label>
                                                                <input name="diffi_socio_eco" type="text" ng-model="pa.diffi_socio_eco"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.diffi_socio_eco}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Infrastructure publique et sociale</label>
                                                                <input name="infra_pub_soc" type="text" ng-model="pa.infra_pub_soc"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.infra_pub_soc}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Analyse des problématiques</label>
                                                                <input name="analyse_pro" type="text" ng-model="pa.analyse_pro"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.analyse_pro}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Identification et priorisation des ARSE</label>
                                                                <input name="identi_prio_arse" type="text" ng-model="pa.identi_prio_arse"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.identi_prio_arse}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Marché locale et régional ARSE</label>
                                                                <input name="marche_loc_reg_arse" type="text" ng-model="pa.marche_loc_reg_arse"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.marche_loc_reg_arse}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Description des activités</label>
                                                                <input name="description_activite" type="text" ng-model="pa.description_activite"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.description_activite}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Estimation des besoins</label>
                                                                <input name="estimation_besoin" type="text" ng-model="pa.estimation_besoin"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.estimation_besoin}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Etude économique</label>
                                                                <input name="etude_eco" type="text" ng-model="pa.etude_eco"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.etude_eco}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Structures d’appui</label>
                                                                <input name="structure_appui" type="text" ng-model="pa.structure_appui"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.structure_appui}} Jours</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Impact environnementaux</label>
                                                                <input name="impact_env" type="text" ng-model="pa.impact_env"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.impact_env}}</span>
                                                    </td>
                                                    <td style="width:100% !important;">
                                                        <span ng-if="pa.$edit">
                                                            <md-input-container style="width:100% !important; display: flex !important;">
                                                                <label>Impact sociaux</label>
                                                                <input name="impact_sociau" type="text" ng-model="pa.impact_sociau"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!pa.$edit">{{pa.impact_sociau}}</span>
                                                    </td>
                                                    <td style="width:15% !important;">
                                                        <a ng-if="!pa.$edit" ng-click="vm.modifierPac(pa)" title="Modifier">
                                                            <span class="icon-table-edit"></span>
                                                        </a>
                                                        <a ng-if="!pa.$edit" ng-click="vm.supprimerPac(pa)" title="Supprimer">
                                                            <span class="icon-delete"></span>
                                                        </a>
                                                        <a ng-if="pa.$edit" ng-click="vm.annulerPac(pa)" title="Annuler modification">
                                                            <span class="icon-cancel"></span>
                                                        </a>
                                                        <a ng-if="pa.$edit && pa.id_ile && pa.id_region && pa.id_commune && pa.id_zip && pa.milieu_physique 
                                                        && pa.condition_climatique && pa.diffi_socio_eco && pa.infra_pub_soc && pa.analyse_pro 
                                                        && pa.identi_prio_arse && pa.description_activite && pa.estimation_besoin && pa.etude_eco && pa.structure_appui && pa.impact_env && pa.impact_sociau" ng-click="vm.ajoutPac(pa,0)" title="Sauvegarder">
                                                            <span class="icon-content-save"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </fieldset>
                            </div>
                            
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="Calendrier des activités" ng-disabled="!vm.showtab_calendrier" ng-click="vm.click_calendrier_activites()">
                        <md-tab-body>
                            <br>
                            <div style="overflow: auto; width: 100%;">
                                <fieldset layout="column" layout-gt-xs="row">
                                    <legend>
                                            Calendrier des activités
                                        <md-button class="md-fab md-mini " aria-label="Use Android" ng-if="vm.serveur_central" ng-click="vm.ajouterCalendrier_activites()">
                                          <md-icon md-svg-src="assets/icons/svg/add.svg" style="color: greenyellow;"></md-icon>
                                        </md-button>
            
                                        <!--md-button class="md-fab md-mini " aria-label="Use Android" ng-if="!vm.serveur_central" ng-click="vm.download_ddb('calendrier_activites/index','calendrier_activites')">
                                          <md-icon md-svg-src="assets/icons/svg/down.svg" style="color: greenyellow;"></md-icon>
                                        </md-button-->
                                    </legend>
                                    <div flex>
                                        <table ng-table="tableCalendrier_activites" id="tableCalendrier_activites" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                            <thead>
                                                <tr>
                                                    <th class="secondary-text" ng-repeat="c in ::vm.calendrier_activites_column">
                                                        <div class="table-header">
                                                            <span class="column-title">{{c.titre}}</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="cal in vm.allCalendrier_activites"  ng-class="{selected: cal.$selected}" ng-click="vm.selectionCalendrier_activites(cal)">                                       
                                                
                                                    <td >
                                                        <span ng-if="cal.$edit">
                                                            <md-input-container style="width:100% !important; ">
                                                                <label>Activités</label>
                                                                <input name="activite" type="text" ng-model="cal.activite"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!cal.$edit">{{cal.activite}}</span>
                                                    </td>
                                                    <td >
                                                        <span ng-if="cal.$edit">
                                                            <md-input-container style="width:100% !important; ">
                                                                <label>Mois</label>
                                                                <input name="mois" type="number" ng-model="cal.mois"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!cal.$edit">{{cal.mois}}</span>
                                                    </td>
                                                    <td >
                                                        <span ng-if="cal.$edit">
                                                            <md-input-container style="width:100% !important; ">
                                                                <label>Durée</label>
                                                                <input name="duree" type="number" ng-model="cal.duree"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!cal.$edit">{{cal.duree}}</span>
                                                    </td>
                                                    <td >
                                                        <a ng-if="!cal.$edit" ng-click="vm.modifierCalendrier_activites(cal)" title="Modifier">
                                                            <span class="icon-table-edit"></span>
                                                        </a>
                                                        <a ng-if="!cal.$edit" ng-click="vm.supprimerCalendrier_activites(cal)" title="Supprimer">
                                                            <span class="icon-delete"></span>
                                                        </a>
                                                        <a ng-if="cal.$edit" ng-click="vm.annulerCalendrier_activites(cal)" title="Annuler modification">
                                                            <span class="icon-cancel"></span>
                                                        </a>
                                                        <a ng-if="cal.$edit && cal.activite && cal.mois && cal.duree" ng-click="vm.ajoutCalendrier_activites(cal,0)" title="Sauvegarder">
                                                            <span class="icon-content-save"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </fieldset>
                        </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="Tableau recapitulatif" ng-disabled="!vm.showtab_calendrier" ng-click="vm.click_tableau_recap_pac()">
                        <md-tab-body>
                            <br>
                            <div style="overflow: auto; width: 100%;">
                                <fieldset layout="column" layout-gt-xs="row">
                                    <legend>
                                        Tableau recapitulatif
                                        <md-button class="md-fab md-mini " aria-label="Use Android" ng-if="vm.serveur_central" ng-click="vm.ajouterTableau_recap_pac()">
                                          <md-icon md-svg-src="assets/icons/svg/add.svg" style="color: greenyellow;"></md-icon>
                                        </md-button>
            
                                        <!--md-button class="md-fab md-mini " aria-label="Use Android" ng-if="!vm.serveur_central" ng-click="vm.download_ddb('tableau_recap_pac/index','tableau_recap_pac')">
                                          <md-icon md-svg-src="assets/icons/svg/down.svg" style="color: greenyellow;"></md-icon>
                                        </md-button-->
                                    </legend>
                                    <div flex>
                                        <table ng-table="tableTableau_recap_pacs" id="tableTableau_recap_pacs" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                            <thead>
                                                <tr>
                                                    <th class="secondary-text" ng-repeat="c in ::vm.tableau_recap_pac_column">
                                                        <div class="table-header">
                                                            <span class="column-title">{{c.titre}}</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="tabl in vm.allTableau_recap_pac"  ng-class="{selected: tabl.$selected}" ng-click="vm.selectionTableau_recap_pac(tabl)">                                       
                                                
                                                    <td >
                                                        <span ng-if="tabl.$edit">
                                                            <md-input-container style="width:100% !important; ">
                                                                <label>Les besoins</label>
                                                                <input name="besoin" type="text" ng-model="tabl.besoin"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!tabl.$edit">{{tabl.besoin}}</span>
                                                    </td>
                                                    <td >
                                                        <span ng-if="tabl.$edit">
                                                            <md-input-container style="width:100% !important; ">
                                                                <label>Durée</label>
                                                                <input name="duree" type="number" ng-model="tabl.duree"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!tabl.$edit">{{tabl.duree}}</span>
                                                    </td>
                                                    <td >
                                                        <span ng-if="tabl.$edit">
                                                            <md-input-container style="width:100% !important; ">
                                                                <label>Cout</label>
                                                                <input name="cout" type="number" ng-model="tabl.cout"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!tabl.$edit">{{tabl.cout}}</span>
                                                    </td>
                                                    <td >
                                                        <a ng-if="!tabl.$edit" ng-click="vm.modifierTableau_recap_pac(tabl)" title="Modifier">
                                                            <span class="icon-table-edit"></span>
                                                        </a>
                                                        <a ng-if="!tabl.$edit" ng-click="vm.supprimerTableau_recap_pac(tabl)" title="Supprimer">
                                                            <span class="icon-delete"></span>
                                                        </a>
                                                        <a ng-if="tabl.$edit" ng-click="vm.annulerTableau_recap_pac(tabl)" title="Annuler modification">
                                                            <span class="icon-cancel"></span>
                                                        </a>
                                                        <a ng-if="tabl.$edit && tabl.besoin && tabl.cout && tabl.duree" ng-click="vm.ajoutTableau_recap_pac(tabl,0)" title="Sauvegarder">
                                                            <span class="icon-content-save"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </fieldset>
                        </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="Activite AGR" ng-disabled="!vm.showtab_activite_agr" ng-click="vm.click_activite_agr()">
                        <md-tab-body>
                            <br>
                            <div style="overflow: auto; width: 100%;">
                                <fieldset layout="column" layout-gt-xs="row">
                                    <legend>
                                        Activite AGR
                                        <md-button class="md-fab md-mini " aria-label="Use Android" ng-if="vm.serveur_central" ng-click="vm.ajouterActivite_agr()">
                                          <md-icon md-svg-src="assets/icons/svg/add.svg" style="color: greenyellow;"></md-icon>
                                        </md-button>
            
                                        <!--md-button class="md-fab md-mini " aria-label="Use Android" ng-if="!vm.serveur_central" ng-click="vm.download_ddb('activite_agr/index','activite_agr')">
                                          <md-icon md-svg-src="assets/icons/svg/down.svg" style="color: greenyellow;"></md-icon>
                                        </md-button-->
                                    </legend>
                                    <div flex>
                                        <table ng-table="tableActivite_agr" id="tableActivite_agr" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                            <thead>
                                                <tr>
                                                    <th class="secondary-text" ng-repeat="c in ::vm.activite_agr_column">
                                                        <div class="table-header">
                                                            <span class="column-title">{{c.titre}}</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="activ in vm.allActivite_agr"  ng-class="{selected: activ.$selected}" ng-click="vm.selectionActivite_agr(activ)">                                       
                                                
                                                    <td>
                                                        <span ng-if="activ.$edit">
                                                            <md-input-container style="width:100%; display: flex !important;">
                                                              <label>Type AGR</label>
                                                                <md-select ng-model="activ.id_type_agr"  style="width:90px;overflow: hidden;text-overflow: ellipsis;">
                                                                    <md-option value=''>&nbsp;</md-option>
                                                                  <md-option ng-repeat="typ in vm.allType_agr" value="{{typ.id}}">
                                                                    {{typ.libelle}}
                                                                  </md-option>
                                                                </md-select>
                                                            </md-input-container>  
                                                        </span>
                                                        <span ng-if="!activ.$edit">{{activ.type_agr.libelle}}</span>
                                                    </td>
                                                    <td >
                                                        <span ng-if="activ.$edit">
                                                            <md-input-container style="width:100% !important; ">
                                                                <label>Code</label>
                                                                <input name="code" type="text" ng-model="activ.code"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!activ.$edit">{{activ.code}}</span>
                                                    </td>
                                                    <td >
                                                        <span ng-if="activ.$edit">
                                                            <md-input-container style="width:100% !important; ">
                                                                <label>Libelle</label>
                                                                <input name="libelle" type="text" ng-model="activ.libelle"/>
                                                            </md-input-container>   
                                                        </span>
                                                        <span ng-if="!activ.$edit">{{activ.libelle}}</span>
                                                    </td>
                                                    <td>                                                        
                                                        <a ng-if="!activ.$edit" ng-click="vm.modifierActivite_agr(activ)" title="Modifier">
                                                            <span class="icon-table-edit"></span>
                                                        </a>
                                                        <a ng-if="!activ.$edit" ng-click="vm.supprimerActivite_agr(activ)" title="Supprimer">
                                                            <span class="icon-delete"></span>
                                                        </a>
                                                        <a ng-if="activ.$edit" ng-click="vm.annulerActivite_agr(activ)" title="Annuler modification">
                                                            <span class="icon-cancel"></span>
                                                        </a>
                                                        <a ng-if="activ.$edit && activ.id_type_agr && activ.code && activ.libelle" ng-click="vm.ajoutActivite_agr(activ,0)" title="Sauvegarder">
                                                            <span class="icon-content-save"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </fieldset>
                        </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
    