<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="space-between">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Données de bases</span>
                    <span class="parent"> </span>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent" href="javascript:;"> PAC</span>
                </div>
    
                <!--div class="title">PHASE EXECUTION ET ANNEE</div-->
            </div>
        </div>
        <div class="content" layout="column"  >
            <div class="form-wrapper md-whiteframe-1dp" >
                
                <md-tabs md-dynamic-height layout="column" flex>
                    <md-tab label="PAC">
                        <md-tab-body>
                            <div style="overflow: auto; width: 100%;">
                                <header layout="row" layout-align="none center" style=" margin-bottom: 10px;margin-top: 10px;" class="border-top border-bottom">
                                    <div layout="row" layout-align="start center">
                                    <div class="border-right">
                                        
                                      <span class="md-headline">PAC &nbsp</span>
                                    </div>
                                      <div class="border-right" ng-if="!vm.selectedItemPac.id">
                                        <md-button class="md-icon-button" style=" font-size:11px " aria-label="add ajout" ng-click="vm.ajouterPac()">
                                          <md-icon md-font-icon="icon-plus-box"></md-icon>
                                          <md-tooltip><span>Ajouter</span></md-tooltip>
                                        </md-button>
                                      </div> 
                                      <div class="border-right" ng-if="vm.selectedItemPac.id">
                                        <md-button class="md-icon-button" aria-label="add modif" style=" font-size:11px " ng-click="vm.modifierPac()">
                                          <md-icon md-font-icon="icon-table-edit"></md-icon>
                                          <md-tooltip><span>Modifier</span></md-tooltip>
                                        </md-button>
                                      </div>    
                                      <div class="border-right" ng-if="vm.selectedItemPac.id">
                                        <md-button class="md-icon-button" aria-label="add suppression" style=" font-size:11px " ng-click="vm.supprimerPac()">
                                          <md-icon md-font-icon="icon-delete"></md-icon>
                                          <md-tooltip><span>Supprimer</span></md-tooltip>
                                        </md-button>
                                      </div> 
                                      <div class="border-right" ng-if="vm.selectedItemPac.id">
                                        <md-button class="md-icon-button" aria-label="add Annuler" style=" font-size:11px " ng-click="vm.annulerPac()">
                                          <md-icon md-font-icon="icon-cancel"></md-icon>
                                          <md-tooltip><span>Annuler</span></md-tooltip>
                                        </md-button>
                                      </div>
                                      <div ng-if="vm.affiche_load" layout="row" layout-align="center center">
                                        <md-progress-circular ng-if="vm.affiche_load" class=" md-accent"  aria-label="Rating" md-mode="indeterminate" md-diameter="30"></md-progress-circular> 
                                        <span style="color: #039be5">Chargement,veuillez patienter s'il vous plait ...</span>
                                    </div>                   
                                    </div>
                                </header>
                                
                        <!----------FORM AGEP--------------->       
                         
                                <form ng-show="vm.affichage_masque" name="formpac" class="md-inline-form" novalidate >

                                    <div layout="column" layout-gt-xs="row" flex> 
        
                                    <md-input-container flex="100" flex-gt-xs="30">
                                        <label>Ile</label>
                                        <md-select ng-model="vm.pac.id_ile" name="id_ile" ng-change="vm.change_ile()">
                                            <md-option ng-repeat="ile in vm.allIle" value="{{ile.id}}">
                                                {{ile.Ile}}
                                            </md-option>                                                
                                        </md-select>
                                        <div ng-messages="formpac.id_ile.$error" role="alert">
                                            <div ng-message="required">
                                            <span>ile Obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="30">
                                        <label>Préfecture</label>
                                        <md-select ng-model="vm.pac.id_region" name="id_region" ng-change="vm.change_region()">
                                            <md-option ng-repeat="region in vm.allRegion" value="{{region.id}}">
                                                {{region.Region}}
                                            </md-option>                                                
                                        </md-select>
                                        <div ng-messages="formpac.id_region.$error" role="alert">
                                            <div ng-message="required">
                                            <span>Préfecture Obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="30">
                                        <label>Commune</label>
                                        <md-select ng-model="vm.pac.id_commune" name="id_commune" ng-change="vm.change_commune()">
                                            <md-option ng-repeat="commune in vm.allCommune" value="{{commune.id}}">
                                                {{commune.Commune}}
                                            </md-option>                                                
                                        </md-select>
                                        <div ng-messages="formpac.id_commune.$error" role="alert">
                                            <div ng-message="required">
                                            <span>Commune Obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="30">
                                        <label>Village</label>
                                        <md-select ng-model="vm.pac.id_village" name="id_village" ng-change="vm.change_village()">
                                            <md-option ng-repeat="village in vm.allVillage" value="{{village.id}}">
                                                {{village.Village}}
                                            </md-option>                                                
                                        </md-select>
                                        <div ng-messages="formpac.id_village.$error" role="alert">
                                            <div ng-message="required">
                                            <span>Village Obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="30">
                                        <label>Zip</label>
                                        <md-select ng-model="vm.pac.id_zip" name="id_zip" required disabled>
                                            <md-option ng-repeat="zip in vm.allZip" value="{{zip.id}}">
                                                {{zip.libelle}}
                                            </md-option>                                                
                                        </md-select>
                                        <div ng-messages="formpac.id_zip.$error" role="alert">
                                            <div ng-message="required">
                                            <span>Zip Obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Vague</label>
                                        <input  type="text" name="vague" ng-model="vm.pac.vague"  aria-label="vague" disabled>
                                        <div ng-messages="formpac.vague.$error"role="alert">
                                            <div ng-message="required">
                                                <span>vague obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
        
                                <div layout="column" layout-gt-xs="row" flex>
                                    
                                    <md-input-container flex="100" flex-gt-xs="30">
                                        <label>Type AGR</label>
                                        <md-select ng-model="vm.pac.id_type_agr" name="id_type_agr" required>
                                            <md-option ng-repeat="type_agr in vm.allType_agr" value="{{type_agr.id}}">
                                                {{type_agr.libelle}}
                                            </md-option>                                                
                                        </md-select>
                                        <div ng-messages="formpac.id_type_agr.$error" role="alert">
                                            <div ng-message="required">
                                            <span>Type AGR Obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Libelle AGR</label>
                                        <input  type="text" name="libelle" ng-model="vm.pac.libelle"  aria-label="libelle" required>
                                        <div ng-messages="formpac.libelle.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Libelle AGR obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Milieu physique</label>
                                        <input  type="text" name="milieu_physique" ng-model="vm.pac.milieu_physique"  aria-label="milieu_physique" required>
                                        <div ng-messages="formpac.milieu_physique.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Milieu physique obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Condition climatique</label>
                                        <input  type="text" name="condition_climatique" ng-model="vm.pac.condition_climatique"  aria-label="condition_climatique" required>
                                        <div ng-messages="formpac.condition_climatique.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Condition climatique obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
        
                                <div layout="column" layout-gt-xs="row" flex>
                                        
                                    <md-input-container flex="100" flex-gt-xs="40">                                        
                                        <label>Difficulté socio-economique</label>
                                        <input  type="text" name="diffi_socio_eco" ng-model="vm.pac.diffi_socio_eco"  aria-label="diffi_socio_eco" required>
                                        <div ng-messages="formpac.diffi_socio_eco.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Difficulté socio-economique obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Infrastructure publique et sociale</label>
                                        <input  type="text" name="infra_pub_soc" ng-model="vm.pac.infra_pub_soc"  aria-label="infra_pub_soc" required>
                                        <div ng-messages="formpac.infra_pub_soc.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Infrastructure publique et sociale obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Analyse des problématiques</label>
                                        <input  type="text" name="analyse_pro" ng-model="vm.pac.analyse_pro"  aria-label="analyse_pro" required>
                                        <div ng-messages="formpac.analyse_pro.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Analyse des problématiques obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Identification et priorisation des ARS</label>
                                        <input  type="number" name="identi_prio_arse" ng-model="vm.pac.identi_prio_arse"  aria-label="identi_prio_arse" ng-change="vm.change_identi_prio_arse(vm.pac)" required>
                                        <div ng-messages="formpac.identi_prio_arse.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Identification et priorisation des ARSE obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Marché locale et régional ARSE</label>
                                        <input  type="text" name="marche_loc_reg_arse" ng-model="vm.pac.marche_loc_reg_arse"  aria-label="marche_loc_reg_arse" required>
                                        <div ng-messages="formpac.marche_loc_reg_arse.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Marché locale et régional ARSE obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>             
                                </div>
        
                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Description des activités</label>
                                        <input  type="text" name="description_activite" ng-model="vm.pac.description_activite"  aria-label="description_activite" required>
                                        <div ng-messages="formpac.description_activite.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Description des activités obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Estimation des besoins</label>
                                        <input  type="text" name="estimation_besoin" ng-model="vm.pac.estimation_besoin"  aria-label="estimation_besoin" required>
                                        <div ng-messages="formpac.estimation_besoin.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Estimation des besoins obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Etude économique</label>
                                        <input  type="text" name="etude_eco" ng-model="vm.pac.etude_eco"  aria-label="etude_eco" required>
                                        <div ng-messages="formpac.etude_eco.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Etude économique obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Structures d’appui</label>
                                        <input  type="text" name="structure_appui" ng-model="vm.pac.structure_appui"  aria-label="structure_appui" required>
                                        <div ng-messages="formpac.structure_appui.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Structures d’appui obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Impact environnementaux</label>
                                        <input  type="text" name="impact_env" ng-model="vm.pac.impact_env"  aria-label="impact_env" required>
                                        <div ng-messages="formpac.impact_env.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Impact environnementaux obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" flex-gt-xs="40">
                                        <label>Impact sociaux</label>
                                        <input  type="text" name="impact_sociau" ng-model="vm.pac.impact_sociau"  aria-label="impact_sociau" required>
                                        <div ng-messages="formpac.impact_sociau.$error"role="alert">
                                            <div ng-message="required">
                                                <span>Impact sociaux obligatoire.</span>
                                            </div>
                                        </div>
                                    </md-input-container>                  
                                </div>
        
                                    <div>
                                        <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                                ng-disabled="formpac.$invalid " ng-click="vm.ajoutPac(vm.pac,0)">
                                                Enregistrer
                                        </md-button>
                                        <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerPac()">
                                                Annuler
                                        </md-button>
                                    </div>
                                </form>
                                          
                          
                                        <table ng-table="tablePac" class="dataTable row-border hover cell-border text-center" datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                                            <thead>
                                                <tr>
                                                    <th class="secondary-text" ng-repeat="c in ::vm.pac_column">
                                                        <div class="table-header">
                                                            <span class="column-title">{{c.titre}}</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pa in vm.allPac"  ng-class="{selected: pa.$selected}" ng-click="vm.selectionPac(pa)">                                       
                                                    
                                                    <td>{{pa.ile.Ile}}</td>
                                                    <td>{{pa.region.Region}} </td>
                                                    <td>{{pa.commune.Commune}}</td>
                                                    <td>{{pa.village.Village}}</td>
                                                    <td>{{pa.zip.libelle}}</td>
                                                    <td>{{pa.village.vague}}</td>
                                                    <td>{{pa.type_agr.code}}</td>
                                                    <td>{{pa.libelle}}</td>
                                                    <td>{{pa.milieu_physique}}</td>
                                                    <td>{{pa.condition_climatique}}</td>
                                                    <td>{{pa.diffi_socio_eco}}</td>
                                                    <td>{{pa.infra_pub_soc}}</td>
                                                    <td>{{pa.analyse_pro}}</td>
                                                    <td>{{pa.identi_prio_arse}}</td>
                                                    <td>{{pa.marche_loc_reg_arse}}</td>
                                                    <td>{{pa.description_activite}}</td>
                                                    <td>{{pa.estimation_besoin}}</td>
                                                    <td>{{pa.etude_eco}}</td>
                                                    <td>{{pa.structure_appui}}</td>
                                                    <td>{{pa.impact_env}}</td>
                                                    <td>{{pa.impact_sociau}}</td>
                                                </tr>
                                            </tbody>
                                        </table>                                   
                            </div>
                            
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="PAC DETAIL" ng-click="vm.click_pac_detail()" ng-disabled="!vm.selectedItemPac.id">
                        <md-tab-body>
                            <!------FORM PAC--------->
                          <header layout="row" layout-align="none center" style=" margin-bottom: 10px;margin-top: 10px;" class="border-top border-bottom">
                            <div layout="row" layout-align="start center">
                            <div class="border-right">
                                
                              <span class="md-headline">PAC &nbsp</span>
                            </div>
                              <div class="border-right" ng-if="!vm.selectedItemPac_detail.id">
                                <md-button class="md-icon-button" style=" font-size:11px " aria-label="add ajout" ng-click="vm.ajouterPac_detail()">
                                  <md-icon md-font-icon="icon-plus-box"></md-icon>
                                  <md-tooltip><span>Ajouter</span></md-tooltip>
                                </md-button>
                              </div> 
                              <div class="border-right" ng-if="vm.selectedItemPac_detail.id">
                                <md-button class="md-icon-button" aria-label="add modif" style=" font-size:11px " ng-click="vm.modifierPac_detail()">
                                  <md-icon md-font-icon="icon-table-edit"></md-icon>
                                  <md-tooltip><span>Modifier</span></md-tooltip>
                                </md-button>
                              </div>    
                              <div class="border-right" ng-if="vm.selectedItemPac_detail.id">
                                <md-button class="md-icon-button" aria-label="add suppression" style=" font-size:11px " ng-click="vm.supprimerPac_detail()">
                                  <md-icon md-font-icon="icon-delete"></md-icon>
                                  <md-tooltip><span>Supprimer</span></md-tooltip>
                                </md-button>
                              </div> 
                              <div class="border-right" ng-if="vm.selectedItemPac_detail.id">
                                <md-button class="md-icon-button" aria-label="add Annuler" style=" font-size:11px " ng-click="vm.annulerPac_detail()">
                                  <md-icon md-font-icon="icon-cancel"></md-icon>
                                  <md-tooltip><span>Annuler</span></md-tooltip>
                                </md-button>
                              </div>
                              <div ng-if="vm.affiche_load" layout="row" layout-align="center center">
                                <md-progress-circular ng-if="vm.affiche_load" class=" md-accent"  aria-label="Rating" md-mode="indeterminate" md-diameter="30"></md-progress-circular> 
                                <span style="color: #039be5">Chargement,veuillez patienter s'il vous plait ...</span>
                            </div>                   
                            </div>
                        </header>
                        
                <!----------FORM AGEP--------------->       
                 
                        <form ng-show="vm.affichage_masque_detail" name="formpac_detail" class="md-inline-form" novalidate >
                            <div layout="column" layout-gt-xs="row" flex>
                                
                                <md-input-container flex="100" flex-gt-xs="40">
                                    <label>Numéro d'ordre</label>
                                    <input  type="text" name="identi_prio_arse" ng-model="vm.pac_detail.identi_prio_arse"  aria-label="identi_prio_arse" required disabled>
                                    <div ng-messages="formpac_detail.identi_prio_arse.$error"role="alert">
                                        <div ng-message="required">
                                            <span>numéro AGR obligatoire.</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="40">
                                    <label>Les besoins</label>
                                    <input  type="text" name="besoin" ng-model="vm.pac_detail.besoin"  aria-label="besoin" required>
                                    <div ng-messages="formpac_detail.besoin.$error"role="alert">
                                        <div ng-message="required">
                                            <span>Les besoins</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="40">
                                    <label>Durée</label>
                                    <input  type="number" name="duree" ng-model="vm.pac_detail.duree"  aria-label="duree" required>
                                    <div ng-messages="formpac_detail.duree.$error"role="alert">
                                        <div ng-message="required">
                                            <span>Durée obligatoire.</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="40">
                                    <label>Le coût</label>
                                    <input  type="number" name="cout" ng-model="vm.pac_detail.cout"  aria-label="cout" required>
                                    <div ng-messages="formpac_detail.cout.$error"role="alert">
                                        <div ng-message="required">
                                            <span>Le coût obligatoire.</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="40">
                                    <label>Calendrier de l'activité</label>
                                    <input  type="text" name="calendrier_activite" ng-model="vm.pac_detail.calendrier_activite"  aria-label="calendrier_activite" required>
                                    <div ng-messages="formpac_detail.calendrier_activite.$error"role="alert">
                                        <div ng-message="required">
                                            <span>Calendrier de l'activité obligatoire.</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                                <div>
                                    <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                            ng-disabled="formpac_detail.$invalid " ng-click="vm.ajoutPac_detail(vm.pac_detail,0)">
                                            Enregistrer
                                    </md-button>
                                    <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annulerPac_detail()">
                                            Annuler
                                    </md-button>
                                </div>
                        </form>
                                
                                        <table ng-table="tablePac_detail" class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                                            <thead>
                                                <tr>
                                                    <th class="secondary-text" ng-repeat="c in ::vm.pac_detail_column">
                                                        <div class="table-header">
                                                            <span class="column-title">{{c.titre}}</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="tabl in vm.allPac_detail"  ng-class="{selected: tabl.$selected}" ng-click="vm.selectionPac_detail(tabl)">                                       
                                                
                                                    <td >{{tabl.identi_prio_arse}}</td>
                                                    <td >{{tabl.besoin}}</td>
                                                    <td >{{tabl.duree}}</td>
                                                    <td >{{tabl.cout}}</td>
                                                    <td >{{tabl.calendrier_activite}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
    