<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="space-between">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Importation Ménage</span>
                    <span class="parent"> </span>
                </div>
            </div>
        </div>
        <div class="content" layout="column">
            <div class="form-wrapper">
                <div style="clear:both;"></div>
                <md-tabs md-dynamic-height>
                    <md-tab label="Importation Ménage via fichier Excel">
                        <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="64"></md-progress-circular> 
                        <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                            Traitement en cours,veuillez patienter s'il vous plait . Merci.
                        </div>
                        <form name="filtreimportform" class="md-inline-form" novalidate >
							<div>                            
								<section layout="row" layout-sm="column" layout-align="left" layout-wrap>							 
									<div class="file-upload">
										<input file-uploader style="color:#772e03 !important;" id="fichier" name="fichier" type="file" custom-on-change="uploadFile"  ng-multiple="false"/>
										<button ng-click="vm.uploadFile()" ng-disabled="!vm.monfichier" 
											style="background: #ff843d; /* Old browsers */
												background: -moz-linear-gradient(top,  #ff843d 0%, #fc8a49 17%, #ef7d3b 33%, #db6520 67%, #ce5712 83%, #ba4603 100%); /* FF3.6+ */
												background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff843d), color-stop(17%,#fc8a49), color-stop(33%,#ef7d3b), color-stop(67%,#db6520), color-stop(83%,#ce5712), color-stop(100%,#ba4603)); /* Chrome,Safari4+ */
												background: -webkit-linear-gradient(top,  #ff843d 0%,#fc8a49 17%,#ef7d3b 33%,#db6520 67%,#ce5712 83%,#ba4603 100%); /* Chrome10+,Safari5.1+ */
												background: -o-linear-gradient(top,  #ff843d 0%,#fc8a49 17%,#ef7d3b 33%,#db6520 67%,#ce5712 83%,#ba4603 100%); /* Opera 11.10+ */
												background: -ms-linear-gradient(top,  #ff843d 0%,#fc8a49 17%,#ef7d3b 33%,#db6520 67%,#ce5712 83%,#ba4603 100%); /* IE10+ */
												background: linear-gradient(to bottom,  #ff843d 0%,#fc8a49 17%,#ef7d3b 33%,#db6520 67%,#ce5712 83%,#ba4603 100%); /* W3C */
												filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff843d', endColorstr='#ba4603',GradientType=0 ); /* IE6-9 */
												color:#772e03;
												font-weight:bold;
												height:auto;">
											<md-icon md-font-icon="icon-cloud-upload" class="s16" style="padding-left: 2px !important;padding-right:  2px !important;padding-bottom: 20px"> 
											</md-icon> Importer
										</button>
									</div>
								</section>                         
                            </div>
                            <div>
								<label ng-if="vm.all_beneficiaires.length >0"><b>Sous-projet / Acticité :    </b></label>
								<label ng-if="vm.all_beneficiaires.length >0"><b>{{vm.all_sous_projet.code}} - {{vm.all_sous_projet.description}}</b></label>
                            </div>
                            <div>
								<label ng-if="vm.all_beneficiaires.length >0">Ile :    </label>
								<label ng-if="vm.all_beneficiaires.length >0" style="margin-right:30px;"><b>{{vm.nom_ile}}</b></label>
								<label ng-if="vm.all_beneficiaires.length >0">Prefecture :    </label>
								<label ng-if="vm.all_beneficiaires.length >0" style="margin-right:30px;"><b>{{vm.nom_prefecture}}</b></label>
								<label ng-if="vm.all_beneficiaires.length >0">Commune :    </label>
								<label ng-if="vm.all_beneficiaires.length >0" style="margin-right:30px;"><b>{{vm.nom_commune}}</b></label>
								<label ng-if="vm.all_beneficiaires.length >0">Village :    </label>
								<label ng-if="vm.all_beneficiaires.length >0" style="margin-right:30px;"><b>{{vm.nom_village}}</b></label>
                            </div>
                        </form>
                        
                        <table class="dataTable row-border hover cell-border text-center" datatable="ng"
                          dt-options="vm.dtOptions" ng-if="!vm.affichage_masque">
                          <thead>
                            <tr>
                              <th class="secondary-text" ng-repeat="re in ::vm.menage_column">
                                <div class="table-header">
                                  <span class="column-title text-center">{{re.titre}}</span>
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="menage in vm.all_beneficiaires  track by $index"  ng-class="{selected: menage.$selected}" ng-click="vm.selection(menage)">
                              <td>{{menage.point_inscription}}</td>
                              <td>{{menage.NumeroEnregistrement}}</td>
                              <td>{{menage.identifiant_menage}}</td>
                              <td>{{menage.nomchefmenage}}</td>
                              <td>{{menage.SexeChefMenage}}</td>
                              <td>{{menage.nom_conjoint}}</td>
                              <td>{{menage.sexe_conjoint}}</td>
                              <td>{{menage.DateInscription | date:'dd/MM/yyyy'}}</td>
                              <td>{{menage.score_obtenu}}</td>
                              <td>{{menage.rang_obtenu}}</td>
                              <td>{{menage.statut}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </md-tab>   
                    <md-tab>   
                    </md-tab>   
                </md-tabs>
            </div>
        </div>
    </div>
    