<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="space-between">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">PGES &nbsp {{vm.type_sous_projet}}</span>
                    <span class="parent"> </span>
                    <!--md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent" href="javascript:;">Groupe ML/PL</span-->
                </div>
    
            </div>
        </div>
        <div class="content" layout="column">
            <div class="form-wrapper">
                <div style="clear:both;"></div>
                <md-tabs md-dynamic-height>                   
                  <md-tab label="PGES">
                        <div class="price-table style-1 md-whiteframe-1dp" layout="column">
                          <form name="filtreform" class="md-inline-form" novalidate >
                            <div layout="column" layout-gt-xs="row" flex>
                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Île</label>
                                   <md-select ng-model="vm.filtre.id_ile" name="ile" ng-change="vm.filtre_region()" required>
                                    
                                     <md-option ng-repeat="ile in vm.all_ile" value="{{ile.id}}" >
                                       {{ile.Ile}}
                                     </md-option>
    
                                   </md-select>
                                   <div ng-messages="filtreform.ile.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>Île obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>
    
                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Préfecture</label>
                                   <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.filtre_commune()" ng-disabled="!vm.filtre.id_ile" required>
                                     
                                     <md-option ng-repeat="region in vm.all_region" value="{{region.id}}" >
                                       {{region.Region}}
                                     </md-option>
    
                                   </md-select>
                                   <div ng-messages="filtreform.region.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>Région obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>
    
                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Commune</label>
                                   <md-select ng-model="vm.filtre.id_commune" name="commune" ng-disabled="!vm.filtre.id_region" ng-change="vm.filtre_village()" required>
                                    
                                     <md-option ng-repeat="commune in vm.all_commune" value="{{commune.id}}" >
                                       {{commune.Commune}}
                                     </md-option>
    
                                   </md-select>
                                   <div ng-messages="filtreform.commune.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>Commune obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>
    
                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Village</label>
                                   <md-select ng-model="vm.filtre.id_village" name="village" ng-disabled="!vm.filtre.id_commune" ng-change="vm.filtre_zip()" required>
                                    
                                     <md-option ng-repeat="village in vm.all_village" value="{{village.id}}" >
                                       {{village.Village}}
                                     </md-option>
    
                                   </md-select>
                                   <div ng-messages="filtreform.village.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>village obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>
                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Zip</label>
                                   <md-select ng-model="vm.filtre.id_zip" name="zip" ng-disabled="!vm.filtre.id_zip"  required>
                                    
                                     <md-option ng-repeat="zip in vm.allZip" value="{{zip.id}}" >
                                       {{zip.libelle}}
                                     </md-option>
    
                                   </md-select>
                                   <div ng-messages="filtreform.zip.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>Zip obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>
                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Vague</label>
                                   <input ng-model="vm.filtre.vague" type="text" name="vague" disabled  required/>
                                    
                                   <div ng-messages="filtreform.vague.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>Vague obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>
                              
                           </div>	
                          <div>                            
                            <section layout="row" layout-sm="column" layout-align="left" layout-wrap>
                          
                              <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                 ng-disabled="filtreform.$invalid||vm.affiche_load" ng-click="vm.get_pges(vm.filtre)">
                                Actualiser
                              </md-button>                              
                            </section>                         
                           </div>
                       </form>
                            <header layout="row" layout-align="none center" style=" margin-bottom: 10px;margin-top: 10px;" class="border-top border-bottom">
                                <div layout="row" layout-align="start center">
                                <div class="border-right">
                                    
                                  <span class="md-headline">PGES &nbsp{{vm.type_sous_projet}} &nbsp</span>
                                </div>
                                  <div class="border-right" ng-if="!vm.selectedItemPges.id && !vm.nouvelleItemPges && vm.filtre.id_village">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.ajouterPges()">
                                      <md-icon md-font-icon="icon-plus-box"></md-icon>
                                      <md-tooltip><span>Ajouter</span></md-tooltip>
                                    </md-button>
                                  </div> 
                                  <div class="border-right" ng-if="vm.selectedItemPges.id && !vm.selectedItemPges.$edit">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.modifierPges()">
                                      <md-icon md-font-icon="icon-table-edit"></md-icon>
                                      <md-tooltip><span>Modifier</span></md-tooltip>
                                    </md-button>
                                  </div>    
                                  <div class="border-right" ng-if="vm.selectedItemPges.id && !vm.selectedItemPges.$edit">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.supprimerPges()">
                                      <md-icon md-font-icon="icon-delete"></md-icon>
                                      <md-tooltip><span>Supprimer</span></md-tooltip>
                                    </md-button>
                                  </div>  

                                  <div class="border-right" ng-if="vm.selectedItemPges.id">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.annulerPges()">
                                      <md-icon md-font-icon="icon-cancel"></md-icon>
                                      <md-tooltip><span>Annuler</span></md-tooltip>
                                    </md-button>
                                  </div>   

                                  <div ng-if="vm.selectedItemPges.$edit">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.enregistrerPges(0)">
                                      <md-icon md-font-icon="icon-checkbox-marked"></md-icon>
                                      <md-tooltip><span>Enregistrer</span></md-tooltip>
                                    </md-button>
                                  </div>                
                                </div>
                            </header>
                            
                        
                            <table ng-table="agep" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions_new" ms-responsive-table>
                                <thead>
                                    <tr>
                                        <th class="secondary-text" ng-repeat="c in ::vm.pges_column">
                                            <div class="table-header">
                                                <span class="column-title text-center">{{c.titre}}</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="paie in vm.allPges"  ng-class="{selected: paie.$selected}" ng-click="vm.selectionPges(paie)">                                       
                                                                                
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Bureau d'etude</label>                                                
                                                <input type="text" name="bureau_etude"  ng-model="paie.bureau_etude"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.bureau_etude}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Référence contrat</label>                                                
                                                <input type="text" name="ref_contrat"  ng-model="paie.ref_contrat"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.ref_contrat}}</span>
                                        </td>
                                        <td>
                                            <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                  <label>Infrastructure</label>
                                                  <md-select ng-model="paie.id_infrastructure" name="id_infrastructure" ng-change="vm.change_infrastructure(paie)">
                                                      <md-option ng-repeat="infra in vm.allInfrastructure_choisi" value="{{infra.id}}">
                                                        <div>                                                          
                                                          <span><strong>Code passation</strong>:{{infra.code_passation}}</span>
                                                          <span><strong>Libelle</strong>: {{infra.libelle}}</span>
                                                        </div>
                                                      </md-option><md-divider md-inset></md-divider>                                                
                                                  </md-select>
                                              </md-input-container> 
                                            </span>
                                            <span ng-if="!paie.$edit"> 
                                              <span ><strong ng-if="paie.infrastructure.code_passation">Code passation</strong>: {{paie.infrastructure.code_passation}}</span><br>
                                              <span ><strong ng-if="paie.infrastructure.libelle">Libelle</strong>: {{paie.infrastructure.libelle}}</span>
                                            </span>
                                        </td>
                                        <td>
                                            <span> 
                                              <span ><strong ng-if="paie.infrastructure.code_type">Code</strong>: {{paie.infrastructure.code_type}}</span><br>
                                              <span ><strong ng-if="paie.infrastructure.libelle_type">Libelle</strong>: {{paie.infrastructure.libelle_type}}</span>
                                            </span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Montant total</label>                                                
                                                <input type="number" name="montant_total"  ng-model="paie.montant_total"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.montant_total}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Description environnementale</label>                                                
                                                <input type="text" name="description_env"  ng-model="paie.description_env"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.description_env}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Composante zone susceptible</label>                                                
                                                <input type="text" name="composante_zone_susce"  ng-model="paie.composante_zone_susce"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.composante_zone_susce}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Problèmes environnementaux</label>                                                
                                                <input type="text" name="probleme_env"  ng-model="paie.probleme_env" />
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.probleme_env}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Mésures envisagées</label>                                                
                                                <input type="text" name="mesure_envisage"  ng-model="paie.mesure_envisage"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.mesure_envisage}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                            <md-datepicker ng-model="paie.date_etablissement" md-placeholder="Date d’établissement" md-max-date="vm.datenow" required>                       
                                            </md-datepicker>
                                          </span>                          
                                          <span ng-if="!paie.$edit">{{vm.formatDate(paie.date_etablissement)}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Nom et prénoms de celui qui a établi</label>                                                
                                                <input type="text" name="nom_prenom_etablissement"  ng-model="paie.nom_prenom_etablissement"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.nom_prenom_etablissement}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Nom et prénoms du Responsable de la validation</label>                                                
                                                <input type="text" name="nom_prenom_validation"  ng-model="paie.nom_prenom_validation"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.nom_prenom_validation}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="paie.$edit">
                                            <md-datepicker ng-model="paie.date_visa_ugp" md-placeholder="Date de visa UGP" md-max-date="vm.datenow" required>                       
                                            </md-datepicker>
                                          </span>                          
                                          <span ng-if="!paie.$edit">{{vm.formatDate(paie.date_visa_ugp)}}</span>
                                        </td>
                                        
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Nom et prénoms du responsable UGP</label>                                                
                                                <input type="text" name="nom_prenom_ugp"  ng-model="paie.nom_prenom_ugp"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.nom_prenom_ugp}}</span>
                                        </td> 
                                        <td>
                                          <span ng-if="paie.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>observation</label>                                                
                                                <input type="text" name="observation"  ng-model="paie.observation"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!paie.$edit"> {{paie.observation}}</span>
                                        </td>                                    

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-tab> 
                    <md-tab label=" phases PGES" ng-disabled="!vm.selectedItemPges.id" ng-click="vm.click_tab_phases()">
                        <div class="price-table style-1 md-whiteframe-1dp" layout="column">
                            <header layout="row" layout-align="none center" style=" margin-bottom: 10px;margin-top: 10px;" class="border-top border-bottom">
                                <div layout="row" layout-align="start center">
                                <div class="border-right">
                                    
                                  <span class="md-headline">PHASE &nbsp</span>
                                </div>
                                  <div class="border-right" ng-if="!vm.selectedItemPges_phases.id && !vm.nouvelleItemPges_phases">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.ajouterPges_phases()">
                                      <md-icon md-font-icon="icon-plus-box"></md-icon>
                                      <md-tooltip><span>Ajouter</span></md-tooltip>
                                    </md-button>
                                  </div> 
                                  <div class="border-right" ng-if="vm.selectedItemPges_phases.id && !vm.selectedItemPges_phases.$edit">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.modifierPges_phases()">
                                      <md-icon md-font-icon="icon-table-edit"></md-icon>
                                      <md-tooltip><span>Modifier</span></md-tooltip>
                                    </md-button>
                                  </div>    
                                  <div class="border-right" ng-if="vm.selectedItemPges_phases.id && !vm.selectedItemPges_phases.$edit">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.supprimerPges_phases()">
                                      <md-icon md-font-icon="icon-delete"></md-icon>
                                      <md-tooltip><span>Supprimer</span></md-tooltip>
                                    </md-button>
                                  </div>  

                                  <div class="border-right" ng-if="vm.selectedItemPges_phases.id">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.annulerPges_phases()">
                                      <md-icon md-font-icon="icon-cancel"></md-icon>
                                      <md-tooltip><span>Annuler</span></md-tooltip>
                                    </md-button>
                                  </div>   

                                  <div ng-if="vm.selectedItemPges_phases.$edit">
                                    <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.enregistrerPges_phases(0)">
                                      <md-icon md-font-icon="icon-checkbox-marked"></md-icon>
                                      <md-tooltip><span>Enregistrer</span></md-tooltip>
                                    </md-button>
                                  </div>                
                                </div>
                            </header>
                            
                        
                            <table ng-table="agep" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions_new" ms-responsive-table>
                                <thead>
                                    <tr>
                                        <th class="secondary-text" ng-repeat="c in ::vm.pges_phases_column">
                                            <div class="table-header">
                                                <span class="column-title text-center">{{c.titre}}</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pges_p in vm.allPges_phases"  ng-class="{selected: pges_p.$selected}" ng-click="vm.selectionPges_phases(pges_p)">                                       
                                                                                
                                        
                                      <td>
                                        <span ng-if="pges_p.$edit">
                                          <md-input-container style="width:100%;display: flex !important;">
                                              <label>Phase</label>
                                              <md-select ng-model="pges_p.phase" name="phase">
                                                  <md-option value="REALISATION">REALISATION</md-option>
                                                  <md-option value="EXPLOITATION">EXPLOITATION</md-option>                                               
                                              </md-select>
                                          </md-input-container> 
                                        </span>
                                        <span ng-if="!pges_p.$edit"> {{pges_p.phase}}</span>
                                    </td>
                                    <!--td>
                                          <span ng-if="pges_p.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>Description</label>                                                
                                                <input type="text" name="description"  ng-model="pges_p.description"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!pges_p.$edit"> {{pges_p.description}}</span>
                                        </td-->
                                        <td>
                                          <span ng-if="pges_p.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>impacts</label>                                                
                                                <input type="text" name="impacts"  ng-model="pges_p.impacts"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!pges_p.$edit"> {{pges_p.impacts}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="pges_p.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>mesures</label>                                                
                                                <input type="text" name="mesures"  ng-model="pges_p.mesures"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!pges_p.$edit"> {{pges_p.mesures}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="pges_p.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>responsable</label>                                                
                                                <input type="text" name="responsable"  ng-model="pges_p.responsable"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!pges_p.$edit"> {{pges_p.responsable}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="pges_p.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>calendrier exécution</label>                                                
                                                <input type="text" name="calendrier_execution"  ng-model="pges_p.calendrier_execution" />
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!pges_p.$edit"> {{pges_p.calendrier_execution}}</span>
                                        </td>
                                        <td>
                                          <span ng-if="pges_p.$edit">
                                              <md-input-container style="width:100%;display: flex !important;">
                                                <label>coût estimatif</label>                                                
                                                <input type="number" name="cout_estimatif"  ng-model="pges_p.cout_estimatif"/>
                                              </md-input-container>
                                          </span>
                                          <span ng-if="!pges_p.$edit"> {{pges_p.cout_estimatif}}</span>
                                        </td>                                                                           

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-tab> 
                    <md-tab>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>