<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="space-between">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Contrat consultant</span>
                    <span class="parent"> </span>
                    <!--md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent" href="javascript:;">Groupe ML/PL</span-->
                </div>
    
            </div>
        </div>
        <div class="content" layout="column">
            <div class="form-wrapper">
                <div style="clear:both;"></div>
                <md-tabs md-dynamic-height>
                    <md-tab label="Contrat">
                        <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="64"></md-progress-circular> 
                        <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                            Chargement,veuillez patienter s'il vous plait ...
                        </div>
                        <div style="widht:100%;">    
                            <md-button type="submit" ng-show="!vm.affichage_masque" class="md-raised md-green-800-bg" aria-label="Nouveau" ng-click="vm.ajouter_contrat_consultant()" style="width:10%;">
                              Nouveau
                            </md-button>
                            <md-button type="submit"  ng-show="(vm.selectedItem.id) && !vm.affichage_masque" class="md-raised md-blue-800-bg" aria-label="Modifier" ng-click="vm.modifier()" style="width:10%;">
                              Modifier
                            </md-button>
                            <md-button type="submit" ng-show="!vm.affichage_masque && vm.selectedItem.id" ng-disabled="vm.selectedItem.utilisateur_id!=vm.user_id" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer()" style="width:10%;">
                              Supprimer
                            </md-button>
                          
                        </div>
                        <form name="filtrepardateform" class="md-inline-form" novalidate >
							<fieldset ng-if="vm.affichage_masque">
								<label><b>Information concernant le contrat du consultant</b></label>
								<div layout="column" layout-gt-xs="row" flex>
									<md-input-container flex="100" flex-gt-xs="25">
									  <label>Consultant</label>
										<md-select ng-model="vm.filtre.id_consultant" name="consultant" ng-change="vm.modifierConsultant(vm.filtre)"required>
										 
										  <md-option ng-repeat="co in vm.all_consultant" value="{{co.id}}" >
											{{co.raison_social}}
										  </md-option>

										</md-select>
										<div ng-messages="filtrepardateform.consultant.$error"
										  role="alert">
										  <div ng-message="required">
											<span>Consultant obligatoire</span>
										  </div>
										</div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="25">
									  <label>Sous projet</label>
										<md-select ng-model="vm.filtre.id_sous_projet" name="ssp" ng-change="vm.modifierSous_projet(vm.filtre)"required>
										 
										  <md-option ng-repeat="ssp in vm.all_sous_projet" value="{{ssp.id}}" >
											{{ssp.description}}
										  </md-option>

										</md-select>
										<div ng-messages="filtrepardateform.ssp.$error"
										  role="alert">
										  <div ng-message="required">
											<span>Sous projet obligatoire</span>
										  </div>
										</div>
									</md-input-container>
									<md-input-container flex-gt-xs="15" ng-show="vm.affichage_masque">
										<input type="text"  name="reference" ng-model="vm.filtre.reference"
										placeholder="Référence contrat" required>
										<div ng-messages="filtrepardateform.reference.$error"
											role="alert">
											<div ng-message="required">
												<span>Référence contrat obligatoire.</span>
											</div>
										</div>
									</md-input-container>
									<md-input-container>
									<span>Date contrat</span>
									</md-input-container>
									<md-datepicker ng-model="vm.filtre.date_contrat"   md-placeholder="Enter date contrat" >                       
									</md-datepicker>
									<md-input-container flex-gt-xs="25" ng-show="vm.affichage_masque">
										<input type="text"  name="objet" ng-model="vm.filtre.objet"
										placeholder="Objet du contrat" required>
										<div ng-messages="filtrepardateform.objet.$error"
											role="alert">
											<div ng-message="required">
												<span>Objet du contrat obligatoire.</span>
											</div>
										</div>
									</md-input-container>
								</div>
							</fieldset>	
								<div>                            
									<section layout="row" layout-sm="column" layout-align="left" layout-wrap>
									  <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
										  ng-if="vm.affichage_masque" ng-disabled="(filtrepardateform.$invalid)||(vm.disable_button)" ng-click="vm.save_contrat_consultant(vm.filtre,0)">
										  Enregistrer
									  </md-button>
									  <md-button type="submit" class="md-raised md-primary" aria-label="Enregistrer"
										  ng-if="vm.affichage_masque"  ng-click="vm.annuler()">
										  Annuler
									  </md-button>
									  
									</section>                         
                            </div>
                        </form>
                        
                        <table class="dataTable row-border hover cell-border text-center" datatable="ng"
                          dt-options="vm.dtOptions" ng-if="!vm.affichage_masque">
                          <thead>
                            <tr>
                              <th class="secondary-text" ng-repeat="re in ::vm.contrat_consultant_column">
                                <div class="table-header">
                                  <span class="column-title text-center">{{re.titre}}</span>
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="grp_mlpl in vm.all_contrat_consultant track by $index"  ng-class="{selected: grp_mlpl.$selected}" ng-click="vm.selection(grp_mlpl)">
                              <td>{{grp_mlpl.consultant}}</td>
                              <td>{{grp_mlpl.sous_projet}}</td>
                              <td>{{grp_mlpl.reference}}</td>
                              <td>{{grp_mlpl.date_contrat  | date:'dd/MM/yyyy'}}</td>
                              <td>{{grp_mlpl.objet}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </md-tab>   
                   <md-tab label="Livrable  Contrat : {{vm.selectedItem.reference}}" ng-disabled="!vm.selectedItem.id">
                        <div style="widht:100%;">  
                            <md-button type="submit" ng-if="!vm.affichage_masque_livrable_consultant" class="md-raised md-green-800-bg" aria-label="Nouveau" ng-click="vm.ajout_livrable_consultant()" style="width:10%;">
                              Nouveau
                            </md-button>
                            <md-button type="submit" ng-if="!vm.affichage_masque_livrable_consultant"  ng-show="(vm.selectedItem_livrable_consultant.id)" class="md-raised md-blue-800-bg" aria-label="Modifier" ng-click="vm.modifier_livrable_consultant()" style="width:10%;">
                              Modifier
                            </md-button>
                            <md-button type="submit" ng-show="!vm.affichage_masque_livrable_consultant && vm.selectedItem_livrable_consultant.id" ng-disabled="vm.selectedItem.utilisateur_id!=vm.user_id" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer_livrable_consultant()" style="width:10%;">
                              Supprimer
                            </md-button>
                        </div>
                        <form name="listemlpl_form" class="md-inline-form" novalidate >
							<fieldset ng-if="vm.affichage_masque_livrable_consultant">
								<label><b>Information concernant le livrable</b></label>
								<div layout="column" layout-gt-xs="row" flex>
									<md-input-container flex="100" flex-gt-xs="15" ng-show="vm.affichage_masque_livrable_consultant">
									  <input type="text"  name="intitule" ng-model="vm.livrable_consultant_masque.intitule"
										placeholder="Intitulé livrable" required>
									  <div ng-messages="listemlpl_form.intitule.$error"
										role="alert"> 
										<div ng-message="required">
										  <span>Intitulé livrable obligatoire.</span>
										</div>
									  </div>
									</md-input-container>
									<md-input-container>
										<span>Date prévue remise</span>
									</md-input-container>
									<md-datepicker ng-model="vm.livrable_consultant_masque.date_prevue_remise"   md-placeholder="Entrer date prévu remise" >                       
									</md-datepicker>
									<md-input-container>
										<span>Date effective reception</span>
									</md-input-container>
									<md-datepicker ng-model="vm.livrable_consultant_masque.date_effective_reception"   md-placeholder="Entrer date prévu remise" >                       
									</md-datepicker>
								</div>
								<section layout="row" layout-sm="column" layout-align="left" layout-wrap>
								  <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
									  ng-if="vm.affichage_masque_livrable_consultant" ng-disabled="(listemlpl_form.$invalid)||(vm.disable_button)" ng-click="vm.save_livrable_consultant(vm.livrable_consultant_masque,0)">
									  Enregistrer
								  </md-button>
								  <md-button type="submit" class="md-raised md-primary" aria-label="Enregistrer"
									  ng-if="vm.affichage_masque_livrable_consultant"  ng-click="vm.annuler_livrable_consultant()">
									  Annuler
								  </md-button>                              
								</section>
							</fieldset>	
                        </form>
                        <table class="dataTable row-border hover cell-border text-center" datatable="ng"
                          dt-options="vm.dtOptions" ng-show="!vm.affichage_masque_livrable_consultant">
                          <thead>
                            <tr>
                              <th class="secondary-text" ng-repeat="re in ::vm.livrable_consultant_column">
                                <div class="table-header">
                                  <span class="column-title text-center">{{re.titre}}</span>
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="indiv in vm.all_livrable_consultant  track by $index"  ng-class="{selected: indiv.$selected}" ng-click="vm.selection_livrable_consultant(indiv)">
                              <td>{{indiv.intitule}}</td>
                              <td>{{indiv.date_prevue_remise  | date:'dd/MM/yyyy'}}</td>
                              <td>{{indiv.date_effective_reception  | date:'dd/MM/yyyy'}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </md-tab> 
                   <md-tab label="Point contrôle  : Livrable {{vm.selectedItem_livrable_consultant.intitule}}" ng-disabled="!vm.selectedItem_livrable_consultant.id">
						<fieldset layout="column" layout-gt-xs="row">
							<legend>
									Point contrôle
								<md-button class="md-fab md-mini " aria-label="Use Android" ng-click="vm.ajout_point_controle()">
								  <md-icon md-svg-src="assets/icons/svg/add.svg" style="color: greenyellow;"></md-icon>
								</md-button>
							</legend>
							<div style="clear:both;"></div>
							<table id="Table_menage_mlpl" class="dataTable row-border hover cell-border text-center" datatable="ng"
							  dt-options="vm.dtOptions" style="width:100% !important">
							  <thead>
								<tr>
								  <th class="secondary-text" ng-repeat="re in ::vm.point_controle_column">
									<div class="table-header">
									  <span class="column-title text-center">{{re.titre}}</span>
									</div>
								  </th>
								</tr>
							  </thead>
							  <tbody>
								<tr ng-repeat="pt in vm.all_point_controle  track by $index"  ng-class="{selected: pt.$selected}" ng-click="vm.selection_point_controle(pt)">
									<td>
										<span ng-if="pt.$edit">
											<md-input-container flex="100" flex-gt-xs="100" >
											  <input type="text"  name="intitule" ng-model="pt.intitule"
												placeholder="Intitulé point contrôle" required>
											  <div ng-messages="listemlpl_form.intitule.$error"
												role="alert"> 
												<div ng-message="required">
												  <span>Intitulé point contrôle obligatoire.</span>
												</div>
											  </div>
											</md-input-container>
										</span>
										<span ng-if="!pt.$edit">{{pt.intitule}}</span>
									</td>
									<td>
										<span ng-if="pt.$edit">
											<md-input-container flex="100" flex-gt-xs="100" >
											  <input type="text"  name="resultat" ng-model="pt.resultat"
												placeholder="Résultat point contrôle" required>
											  <div ng-messages="listemlpl_form.resultat.$error"
												role="alert"> 
												<div ng-message="required">
												  <span>Résultat point contrôle obligatoire.</span>
												</div>
											  </div>
											</md-input-container>
										</span>
										<span ng-if="!pt.$edit">{{pt.resultat}}</span>									
									</td>
									<td>
										<a ng-if="!pt.$edit" ng-click="vm.modifier_point_controle(pt)" title="Modifier">
											<span class="icon-table-edit"></span>
										</a>
										<a ng-if="!pt.$edit" ng-click="vm.supprimer_point_controle(pt)" title="Supprimer">
											<span class="icon-delete"></span>
										</a>
										<a ng-if="pt.$edit" ng-click="vm.annuler_point_controle(pt)" title="Annuler modification">
											<span class="icon-cancel"></span>
										</a>
										<a ng-if="pt.$edit && pt.intitule >'' && pt.resultat>''" ng-click="vm.save_point_controle(pt,0)" title="Sauvegarder">
											<span class="icon-content-save"></span>
										</a>
									</td>
								</tr>
							  </tbody>
							</table>
						</fieldset>	
                    </md-tab> 
                   <md-tab label="Fiche Supérvision  Contrat : {{vm.selectedItem.reference}}" ng-disabled="!vm.selectedItem.id">
                        <div style="widht:100%;">  
                            <md-button type="submit" ng-if="!vm.affichage_masque_fiche_supervision" class="md-raised md-green-800-bg" aria-label="Nouveau" ng-click="vm.ajout_fiche_supervision()" style="width:10%;">
                              Nouveau
                            </md-button>
                            <md-button type="submit" ng-if="!vm.affichage_masque_fiche_supervision"  ng-show="(vm.selectedItem_fiche_supervision.id)" class="md-raised md-blue-800-bg" aria-label="Modifier" ng-click="vm.modifier_fiche_supervision()" style="width:10%;">
                              Modifier
                            </md-button>
                            <md-button type="submit" ng-show="!vm.affichage_masque_fiche_supervision && vm.selectedItem_fiche_supervision.id" ng-disabled="vm.selectedItem.utilisateur_id!=vm.user_id" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer_fiche_supervision()" style="width:10%;">
                              Supprimer
                            </md-button>
                        </div>
                        <form name="listemlpl_form" class="md-inline-form" novalidate >
							<fieldset ng-if="vm.affichage_masque_fiche_supervision">
								<label><b>Information concernant le fiche supérvision</b></label>
								<div layout="column" layout-gt-xs="row" flex>
									<md-input-container flex="100" flex-gt-xs="15" ng-show="vm.affichage_masque_fiche_supervision">
									  <input type="text"  name="type_supervision" ng-model="vm.fiche_supervision_masque.type_supervision"
										placeholder="Intitulé livrable" required>
									  <div ng-messages="listemlpl_form.type_supervision.$error"
										role="alert"> 
										<div ng-message="required">
										  <span>Intitulé livrable obligatoire.</span>
										</div>
									  </div>
									</md-input-container>
									<md-input-container>
										<span>Date supérvision</span>
									</md-input-container>
									<md-datepicker ng-model="vm.fiche_supervision_masque.date_supervision"   md-placeholder="Entrer date prévu remise" >                       
									</md-datepicker>
									<md-input-container>
										<span>Date prévue début</span>
									</md-input-container>
									<md-datepicker ng-model="vm.fiche_supervision_masque.date_prevue_debut"   md-placeholder="Entrer date prévu remise" >                       
									</md-datepicker>
								</div>
								<section layout="row" layout-sm="column" layout-align="left" layout-wrap>
								  <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
									  ng-if="vm.affichage_masque_fiche_supervision" ng-disabled="(listemlpl_form.$invalid)||(vm.disable_button)" ng-click="vm.save_fiche_supervision(vm.fiche_supervision_masque,0)">
									  Enregistrer
								  </md-button>
								  <md-button type="submit" class="md-raised md-primary" aria-label="Enregistrer"
									  ng-if="vm.affichage_masque_fiche_supervision"  ng-click="vm.annuler_fiche_supervision()">
									  Annuler
								  </md-button>                              
								</section>
							</fieldset>	
                        </form>
                        <table class="dataTable row-border hover cell-border text-center" datatable="ng"
                          dt-options="vm.dtOptions" ng-show="!vm.affichage_masque_fiche_supervision">
                          <thead>
                            <tr>
                              <th class="secondary-text" ng-repeat="re in ::vm.fiche_supervision_column">
                                <div class="table-header">
                                  <span class="column-title text-center">{{re.titre}}</span>
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="ficsup in vm.all_fiche_supervision  track by $index"  ng-class="{selected: ficsup.$selected}" ng-click="vm.selection_fiche_supervision(ficsup)">
                              <td>{{ficsup.type_supervision}}</td>
                              <td>{{ficsup.date_supervision  | date:'dd/MM/yyyy'}}</td>
                              <td>{{ficsup.date_prevue_debut  | date:'dd/MM/yyyy'}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </md-tab> 
                   <md-tab label="Point vérifiés  Du : {{vm.selectedItem_fiche_supervision.date_supervision | date:'dd/MM/yyyy'}}" ng-disabled="!vm.selectedItem_fiche_supervision.id">
                        <div style="widht:100%;">  
                            <md-button type="submit" ng-if="!vm.affichage_masque_point_verifie" class="md-raised md-green-800-bg" aria-label="Nouveau" ng-click="vm.ajout_point_verifie()" style="width:10%;">
                              Nouveau
                            </md-button>
                            <md-button type="submit" ng-if="!vm.affichage_masque_point_verifie"  ng-show="(vm.selectedItem_fiche_supervision_point_verifie.id)" class="md-raised md-blue-800-bg" aria-label="Modifier" ng-click="vm.modifier_point_verifie()" style="width:10%;">
                              Modifier
                            </md-button>
                            <md-button type="submit" ng-show="!vm.affichage_masque_point_verifie && vm.selectedItem_fiche_supervision_point_verifie.id" ng-disabled="vm.selectedItem_fiche_supervision.utilisateur_id!=vm.user_id" class="md-raised md-accent" aria-label="Supprimer" ng-click="vm.supprimer_point_verifie()" style="width:10%;">
                              Supprimer
                            </md-button>
                        </div>
                        <form name="point_verifie_form" class="md-inline-form" novalidate >
							<fieldset ng-if="vm.affichage_masque_point_verifie">
								<label><b>Information concernant les points vérifiés</b></label>
								<div layout="column" layout-gt-xs="row" flex>
									<md-input-container flex="100" flex-gt-xs="50" ng-show="vm.affichage_masque_point_verifie">
									  <input type="text"  name="theme_activite" ng-model="vm.point_verifie_masque.theme_activite"
										placeholder="Thème activité" required>
									  <div ng-messages="point_verifie_form.theme_activite.$error"
										role="alert"> 
										<div ng-message="required">
										  <span>Thème activité obligatoire.</span>
										</div>
									  </div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="50" ng-show="vm.affichage_masque_point_verifie">
									  <input type="text"  name="intitule_verifie" ng-model="vm.point_verifie_masque.intitule_verifie"
										placeholder="Description point vérifié" required>
									  <div ng-messages="point_verifie_form.intitule_verifie.$error"
										role="alert"> 
										<div ng-message="required">
										  <span>Description point vérifié obligatoire.</span>
										</div>
									  </div>
									</md-input-container>
								</div>
								<div layout="column" layout-gt-xs="row" flex>
									<md-input-container flex="100" flex-gt-xs="30" ng-show="vm.affichage_masque_point_verifie">
									  <input type="text"  name="prevision" ng-model="vm.point_verifie_masque.prevision"
										placeholder="Prévision" required>
									  <div ng-messages="point_verifie_form.prevision.$error"
										role="alert"> 
										<div ng-message="required">
										  <span>Prévision obligatoire.</span>
										</div>
									  </div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="30" ng-show="vm.affichage_masque_point_verifie">
									  <input type="text"  name="reelle" ng-model="vm.point_verifie_masque.reelle"
										placeholder="Description point vérifié" required>
									  <div ng-messages="point_verifie_form.reelle.$error"
										role="alert"> 
										<div ng-message="required">
										  <span>Description point vérifié obligatoire.</span>
										</div>
									  </div>
									</md-input-container>
									<md-input-container flex="100" flex-gt-xs="40" ng-show="vm.affichage_masque_point_verifie">
									  <input type="text"  name="reelle" ng-model="vm.point_verifie_masque.reelle"
										placeholder="Observation" required>
									  <div ng-messages="point_verifie_form.reelle.$error"
										role="alert"> 
										<div ng-message="required">
										  <span>Observation obligatoire.</span>
										</div>
									  </div>
									</md-input-container>
								</div>
								<section layout="row" layout-sm="column" layout-align="left" layout-wrap>
								  <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
									  ng-if="vm.affichage_masque_point_verifie" ng-disabled="(point_verifie_form.$invalid)||(vm.disable_button)" ng-click="vm.save_point_verifie(vm.point_verifie_masque,0)">
									  Enregistrer
								  </md-button>
								  <md-button type="submit" class="md-raised md-primary" aria-label="Enregistrer"
									  ng-if="vm.affichage_masque_point_verifie"  ng-click="vm.annuler_point_verifie()">
									  Annuler
								  </md-button>                              
								</section>
							</fieldset>	
                        </form>
                        <table class="dataTable row-border hover cell-border text-center" datatable="ng"
                          dt-options="vm.dtOptions" ng-show="!vm.affichage_masque_point_verifie">
                          <thead>
                            <tr>
                              <th class="secondary-text" ng-repeat="re in ::vm.point_verifie_column">
                                <div class="table-header">
                                  <span class="column-title text-center">{{re.titre}}</span>
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="indiv in vm.all_point_verifie  track by $index"  ng-class="{selected: indiv.$selected}" ng-click="vm.selection_point_verifie(indiv)">
                              <td>{{indiv.theme_activite}}</td>
                              <td>{{indiv.intitule_verifie}}</td>
                              <td>{{indiv.prevision}}</td>
                              <td>{{indiv.reelle}}</td>
                              <td>{{indiv.observation}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </md-tab> 
                   <md-tab label="Problème/Solution  Du : {{vm.selectedItem_fiche_supervision.date_supervision | date:'dd/MM/yyyy'}}" ng-disabled="!vm.selectedItem_fiche_supervision.id">
						<fieldset layout="column" layout-gt-xs="row">
							<legend>
									Problème/Solution
								<md-button class="md-fab md-mini " aria-label="Use Android" ng-click="vm.ajout_probleme_solution()">
								  <md-icon md-svg-src="assets/icons/svg/add.svg" style="color: greenyellow;"></md-icon>
								</md-button>
							</legend>
							<div style="clear:both;"></div>
							<table class="dataTable row-border hover cell-border text-center" datatable="ng"
							  dt-options="vm.dtOptions" ng-show="!vm.affichage_masque_point_verifie">
							  <thead>
								<tr>
								  <th class="secondary-text" ng-repeat="re in ::vm.point_verifie_column">
									<div class="table-header">
									  <span class="column-title text-center">{{re.titre}}</span>
									</div>
								  </th>
								</tr>
							  </thead>
							  <tbody>
								<tr ng-repeat="pbsl in vm.all_point_verifie  track by $index"  ng-class="{selected: pbsl.$selected}" ng-click="vm.selection_point_verifie(pbsl)">
									<td>
										<span ng-if="pbsl.$edit">
											<md-input-container flex="100" flex-gt-xs="100" >
											  <input type="text"  name="probleme_constate" ng-model="pbsl.probleme_constate"
												placeholder="Problème constaté" required>
											  <div ng-messages="probleme_constate.$error"
												role="alert"> 
												<div ng-message="required">
												  <span>Problème constaté obligatoire.</span>
												</div>
											  </div>
											</md-input-container>
										</span>
										<span ng-if="!pbsl.$edit">{{pbsl.probleme_constate}}</span>
									</td>
									<td>
										<span ng-if="pbsl.$edit">
											<md-input-container flex="100" flex-gt-xs="100" >
											  <input type="text"  name="solution_proposee" ng-model="pbsl.solution_proposee"
												placeholder="Solution proposée" required>
											  <div ng-messages="listemlpl_form.solution_proposee.$error"
												role="alert"> 
												<div ng-message="required">
												  <span>Solution proposée obligatoire.</span>
												</div>
											  </div>
											</md-input-container>
										</span>
										<span ng-if="!pbsl.$edit">{{pbsl.solution_proposee}}</span>									
									</td>
									<td>
										<a ng-if="!pbsl.$edit" ng-click="vm.modifier_probleme_solution(pbsl)" title="Modifier">
											<span class="icon-table-edit"></span>
										</a>
										<a ng-if="!pbsl.$edit" ng-click="vm.supprimer_probleme_solution(pbsl)" title="Supprimer">
											<span class="icon-delete"></span>
										</a>
										<a ng-if="pbsl.$edit" ng-click="vm.annuler_probleme_solution(pbsl)" title="Annuler modification">
											<span class="icon-cancel"></span>
										</a>
										<a ng-if="pbsl.$edit && pbsl.probleme_constate >'' && pbsl.solution_proposee>''" ng-click="vm.save_probleme_solution(pbsl,0)" title="Sauvegarder">
											<span class="icon-content-save"></span>
										</a>
									</td>
								</tr>
							  </tbody>
							</table>
						</fieldset>	
                    </md-tab> 
                    <md-tab> 
                    </md-tab> 
                </md-tabs>
            </div>
        </div>
    </div>
    