<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="space-between">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Suivi activité</span>
                    <span class="parent"> </span>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent" href="javascript:;">Export fiche/Etat de présence</span>
                </div>
            </div>
        </div>
        <div class="content" layout="column">
            <div class="form-wrapper">
                <div style="clear:both;"></div>
                <md-tabs md-dynamic-height>
                    <md-tab label="Liste Ménage bénéficiaire {{vm.filtre.sous_projet}}">
                        <md-progress-circular ng-if="vm.affiche_load" class="md-accent" aria-label="Rating" md-mode="indeterminate" md-diameter="64"></md-progress-circular> 
                        <div ng-if="vm.affiche_load" style="position:relative;top: -30px;  left: 60px;color: #039be5">
                            Chargement,veuillez patienter s'il vous plait ...
                        </div>
                        <form name="filtrepardateform" class="md-inline-form" novalidate >
                            <div layout="column" layout-gt-xs="row" flex="100">
                                <md-input-container flex="100" flex-gt-xs="15">
                                  <label>Île</label>
                                    <md-select ng-model="vm.filtre.id_ile" name="ile" ng-change="vm.filtre_region()" required>
                                     
                                      <md-option ng-repeat="ile in vm.all_ile" value="{{ile.id}}" >
                                        {{ile.Ile}}
                                      </md-option>

                                    </md-select>
                                    <div ng-messages="filtrepardateform.ile.$error"
                                      role="alert">
                                      <div ng-message="required">
                                        <span>Île obligatoire</span>
                                      </div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex="100" flex-gt-xs="15">
                                  <label>Préfecture</label>
                                    <md-select ng-model="vm.filtre.id_region" name="region" ng-change="vm.filtre_commune()" ng-disabled="!vm.filtre.id_ile" required>
                                      
                                      <md-option ng-repeat="region in vm.all_region" value="{{region.id}}" >
                                        {{region.Region}}
                                      </md-option>

                                    </md-select>
                                    <div ng-messages="filtrepardateform.ile.$error"
                                      role="alert">
                                      <div ng-message="required">
                                        <span>Préfecture  obligatoire</span>
                                      </div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex="100" flex-gt-xs="15">
                                  <label>Commune</label>
                                    <md-select ng-model="vm.filtre.id_commune" name="commune" ng-change="vm.filtre_village()" ng-disabled="!vm.filtre.id_region"  required>
                                     
                                      <md-option ng-repeat="commune in vm.all_commune" value="{{commune.id}}" >
                                        {{commune.Commune}}
                                      </md-option>

                                    </md-select>
                                    <div ng-messages="filtrepardateform.ile.$error"
                                      role="alert">
                                      <div ng-message="required">
                                        <span>Commune obligatoire</span>
                                      </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="15">
                                  <label>Village</label>
                                    <md-select ng-model="vm.filtre.village_id" name="village" ng-disabled="!vm.filtre.id_commune" ng-change="vm.modifierVillage()"  required>
                                      <md-option ng-repeat="village in vm.all_village" value="{{village.id}}" >
                                        {{village.Village}}
                                      </md-option>

                                    </md-select>
                                    <div ng-messages="filtrepardateform.ile.$error"
                                      role="alert">
                                      <div ng-message="required">
                                        <span>Village obligatoire</span>
                                      </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="5">
                                  <label>Vague</label>
										<input type="text"  name="vague" ng-model="vm.filtre.vague" readonly>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="5">
                                  <label>ZIP</label>
										<input type="text"  name="zip" ng-model="vm.filtre.zip" readonly>
                                </md-input-container>
								<div layout="column" layout-gt-xs="col" flex flex-gt-xs="10">
									<md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
										  ng-if="!vm.affichage_masque" ng-disabled="filtrepardateform.$invalid||vm.affiche_load || vm.selectedItem.id" ng-click="vm.filtrer(vm.filtre)"  style="height:40% !important;">
										  Actualiser
									</md-button>
								</div>	
							</div>
							<div style="clear:both;"></div>	
                            <div layout="column" layout-gt-xs="row" flex>
								<p style="margin-top:20px;margin-right:10px;"><b>{{vm.filtre.tranche}}</b></p>
                                <md-input-container flex="100" flex-gt-xs="30">
                                  <label>Agence de paiement</label>
                                    <md-select ng-model="vm.filtre.agep_id" name="agence_paie" ng-disabled="!vm.filtre.village_id" required>
                                      <md-option value=''>&nbsp;</md-option>
                                      <md-option ng-repeat="gep in vm.all_agep" value="{{gep.id}}" >
                                        {{gep.identifiant}} - {{gep.raison_social}}
                                      </md-option>
                                    </md-select>
                                    <div ng-messages="filtrepardateform.agence_paie.$error"
                                      role="alert">
                                      <div ng-message="required">
                                        <span>AGEP obligatoire</span>
                                      </div>
                                    </div>
                                </md-input-container>
								<md-input-container flex-gt-xs="25" ng-disabled="!vm.filtre.village_id">
									<input type="number"  name="pourcentage" ng-model="vm.filtre.pourcentage"
									placeholder="Pourcentage à payer"  readonly>
									<div ng-messages="filtrepardateform.pourcentage.$error"
										role="alert">
										<div ng-message="required">
											<span>Pourcentage à payer obligatoire.</span>
										</div>
									</div>
								</md-input-container>								
								<md-input-container flex-gt-xs="25" ng-disabled="!vm.filtre.pourcentage">
									<input type="number"  name="montant_a_payer" ng-model="vm.filtre.montant_a_payer"
									placeholder="Montant à payer"  readonly>
									<div ng-messages="filtrepardateform.montant_a_payer.$error"
										role="alert">
										<div ng-message="required">
											<span>Montant à payer obligatoire.</span>
										</div>
									</div>
								</md-input-container>								
								<md-button ng-if="!vm.affiche_load" ng-disabled="filtrepardateform.$invalid||vm.affiche_load" type="submit" class="md-raised md-primary" aria-label="Enregistrer" ng-disabled="filtrepardateform.$invalid" ng-click="vm.export_excel(vm.filtre)"  style="height:40% !important;"> 
									Exporter en Excel											 
								</md-button>
                            </div>
                        </form>                        
                        <table class="dataTable row-border hover cell-border text-center" datatable="ng"
                          dt-options="vm.dtOptions" ng-if="!vm.affichage_masque">
                          <thead>
                            <tr>
                              <th class="secondary-text" ng-repeat="re in ::vm.menage_column">
                                <div class="table-header">
                                  <span class="column-title text-center">{{re.titre}}</span>
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="menage in vm.all_beneficiaires  track by $index"  ng-class="{selected: menage.$selected}" ng-click="vm.selection(menage)">
                              <td>{{menage.identifiant_menage}}</td>
                              <td>{{menage.nomchefmenage}}</td>
                              <td>{{menage.nomTravailleur}}</td>
                              <td>{{menage.datedenaissancetravailleur}}</td>
                              <td>{{menage.SexeTravailleur}}</td>
                              <td>{{menage.nomTravailleurSuppliant}}</td>
                              <td>{{menage.datedenaissancesuppliant}}</td>
                              <td>{{menage.SexeTravailleurSuppliant}}</td>
                            </tr>
                          </tbody>
                        </table>
                    </md-tab>   
                </md-tabs>
            </div>
        </div>
    </div>
    