<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="space-between">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent"></span>
                    <span class="parent"> </span>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent" href="javascript:;"> Composante</span>
                </div>
    
                <div class="title">Composante</div>
            </div>
        </div>
        <div class="content" layout="column">
            <div class="form-wrapper">
                <div ng-if="vm.affiche_load" layout="row" layout-align="center center">
                    <md-progress-circular ng-if="vm.affiche_load" class=" md-accent"  aria-label="Rating" md-mode="indeterminate" md-diameter="30"></md-progress-circular> 
                    <span style="color: #039be5">Chargement,veuillez patienter s'il vous plait ...</span>
                </div>
                <div style="clear:both;"></div>
                <md-tabs md-dynamic-height layout="column" flex>
                    <
                       <md-tab label="Composante" ng-click="vm.get_all_composante()" layout="column" flex>
                        <md-tab-body>

                            <div class="price-table style-1 md-whiteframe-1dp" layout="column">
                                <header layout="row" layout-align="none center" style=" margin-bottom: 10px;margin-top: 10px;" class="border-top border-bottom">
                                    <div layout="row" layout-align="start center">
                                    <div class="border-right">
                                        
                                      <span class="md-headline">Composante</span>
                                    </div>
                                      <div class="border-right" ng-if="!vm.selected_composante.id&&!vm.nouvelle_composante">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.ajouter_composante()">
                                          <md-icon md-font-icon="icon-plus-box"></md-icon>
                                          <md-tooltip><span>Ajouter</span></md-tooltip>
                                        </md-button>
                                      </div> 
                                      <div class="border-right" ng-if="vm.selected_composante.id&&!vm.selected_composante.$edit">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.modifier_composante()">
                                          <md-icon md-font-icon="icon-table-edit"></md-icon>
                                          <md-tooltip><span>Modifier</span></md-tooltip>
                                        </md-button>
                                      </div>    
                                      <div class="border-right" ng-if="vm.selected_composante.id&&!vm.selected_composante.$edit">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.supprimer_composante()">
                                          <md-icon md-font-icon="icon-delete"></md-icon>
                                          <md-tooltip><span>Supprimer</span></md-tooltip>
                                        </md-button>
                                      </div>  

                                      <div class="border-right" ng-if="vm.selected_composante.id">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.annuler_composante()">
                                          <md-icon md-font-icon="icon-cancel"></md-icon>
                                          <md-tooltip><span>Annuler</span></md-tooltip>
                                        </md-button>
                                      </div>   

                                      <div ng-if="vm.selected_composante.$edit">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.enregistrer_composante(0)">
                                          <md-icon md-font-icon="icon-checkbox-marked"></md-icon>
                                          <md-tooltip><span>Enregistrer</span></md-tooltip>
                                        </md-button>
                                      </div>                
                                    </div>
                                </header>


                                <table ng-table="composante" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions_new" ms-responsive-table>
                                    <thead>
                                        <tr>
                                            <th class="secondary-text" ng-repeat="c in ::vm.composante_column">
                                                <div class="table-header">
                                                    <span class="column-title text-center">{{c.titre}}</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cm in vm.all_composante"  ng-class="{selected: cm.$selected}" ng-click="vm.selection_composante(cm)">  
                                                                                 
                                            
                                            <td>

                                                    
                                                <span ng-if="cm.$edit">
                                                    <md-input-container style="width:100%;display: flex !important;">
                                                      <label>code</label>
                                                      <input type="text" name="code"  ng-model="cm.code"/>
                                                    </md-input-container>   
                                                    
                                                </span>
                                                <span ng-if="!cm.$edit">
                                                    {{cm.code}}
                                                </span>
                                            </td>
                                            <td>

                                                <span ng-if="cm.$edit">
                                                    <md-input-container style="width:100%;display: flex !important;">
                                                      <label>libelle</label>
                                                      <input type="text" name="libelle" ng-model="cm.libelle"/>
                                                  </md-input-container>

                                              </span>
                                              <span ng-if="!cm.$edit">
                                                  {{cm.libelle}}
                                              </span>
                                            </td>
                                            <td>

                                                <span ng-if="cm.$edit">
                                                    <md-input-container style="width:100%;display: flex !important;">
                                                      <label>montant prevu</label>
                                                      <input type="number" name="montant_prevu"  ng-model="cm.montant_prevu"/>
                                                    </md-input-container>   
                                                    
                                                </span>
                                                <span ng-if="!cm.$edit">
                                                    {{vm.formatMillier(cm.montant_prevu)}} KMF

                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-tab-body>
                    </md-tab>
                                

                                    
                  
                                                