<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="space-between">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Communaute/IDB</span>
                    <span class="parent"> </span>
                </div>
            </div>
        </div>
        <div class="content" layout="column">
            <div class="form-wrapper">
                <div style="clear:both;"></div>
                <md-tabs md-dynamic-height>                  
                  <md-tab label="Infrastructure éligible">
                    <div class="price-table style-1 md-whiteframe-1dp" layout="column">
                      <form name="filtreform_eligible" class="md-inline-form" novalidate >
                        <div layout="column" layout-gt-xs="row" flex>
                           <md-input-container flex="100" flex-gt-xs="90">
                             <label>Île</label>
                               <md-select ng-model="vm.filtre_eligible.id_ile" name="ile" ng-change="vm.filtre_eligible_region()" required>
                                
                                 <md-option ng-repeat="ile in vm.all_ile" value="{{ile.id}}" >
                                   {{ile.Ile}}
                                 </md-option>

                               </md-select>
                               <div ng-messages="filtreform_eligible.ile.$error"
                                 role="alert">
                                 <div ng-message="required">
                                   <span>Île obligatoire</span>
                                 </div>
                               </div>
                           </md-input-container>

                           <md-input-container flex="100" flex-gt-xs="90">
                             <label>Préfecture</label>
                               <md-select ng-model="vm.filtre_eligible.id_region" name="region" ng-change="vm.filtre_eligible_commune()" ng-disabled="!vm.filtre_eligible.id_ile" required>
                                 
                                 <md-option ng-repeat="region in vm.all_region" value="{{region.id}}" >
                                   {{region.Region}}
                                 </md-option>

                               </md-select>
                               <div ng-messages="filtreform_eligible.ile.$error"
                                 role="alert">
                                 <div ng-message="required">
                                   <span>Région obligatoire</span>
                                 </div>
                               </div>
                           </md-input-container>

                           <md-input-container flex="100" flex-gt-xs="90">
                             <label>Commune</label>
                               <md-select ng-model="vm.filtre_eligible.id_commune" name="commune" ng-disabled="!vm.filtre_eligible.id_region" ng-change="vm.filtre_eligible_communaute()" required>
                                
                                 <md-option ng-repeat="commune in vm.all_commune" value="{{commune.id}}" >
                                   {{commune.Commune}}
                                 </md-option>

                               </md-select>
                               <div ng-messages="filtreform_eligible.ile.$error"
                                 role="alert">
                                 <div ng-message="required">
                                   <span>Commune obligatoire</span>
                                 </div>
                               </div>
                           </md-input-container>

                           <md-input-container flex="100" flex-gt-xs="90">
                             <label>Communaute</label>
                               <md-select ng-model="vm.filtre_eligible.id_communaute" name="communaute" ng-disabled="!vm.filtre_eligible.id_commune"  required>
                                
                                 <md-option ng-repeat="communaute in vm.all_communaute" value="{{communaute.id}}" >
                                   {{communaute.libelle}}
                                 </md-option>

                               </md-select>
                               <div ng-messages="filtreform_eligible.ile.$error"
                                 role="alert">
                                 <div ng-message="required">
                                   <span>Communaute obligatoire</span>
                                 </div>
                               </div>
                           </md-input-container>
                          
                       </div>	
                      <div>                            
                        <section layout="row" layout-sm="column" layout-align="left" layout-wrap>
                      
                          <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                             ng-disabled="filtreform_eligible.$invalid||vm.affiche_load" ng-click="vm.get_infrastructure_eligible(vm.filtre_eligible)">
                            Actualiser
                          </md-button>                              
                        </section>                         
                       </div>
                   </form>
                        <header layout="row" layout-align="none center" style=" margin-bottom: 10px;margin-top: 10px;" class="border-top border-bottom">
                            <div layout="row" layout-align="start center">
                            <div class="border-right">
                                
                              <span class="md-headline">Infrastructure eligible &nbsp</span>
                            </div>
                              <div class="border-right" ng-if="!vm.selectedItemInfrastructure_eligible.id && !vm.nouvelItemInfrastructure_eligible && vm.filtre_eligible.id_communaute">
                                <md-button class="md-icon-button" aria-label="add Type ajout" ng-click="vm.ajouterInfrastructure_eligible()">
                                  <md-icon md-font-icon="icon-plus-box"></md-icon>
                                  <md-tooltip><span>Ajouter</span></md-tooltip>
                                </md-button>
                              </div> 
                              <div class="border-right" ng-if="vm.selectedItemInfrastructure_eligible.id && !vm.selectedItemInfrastructure_eligible.$edit">
                                <md-button class="md-icon-button" aria-label="add modif" ng-click="vm.modifierInfrastructure_eligible()">
                                  <md-icon md-font-icon="icon-table-edit"></md-icon>
                                  <md-tooltip><span>Modifier</span></md-tooltip>
                                </md-button>
                              </div>    
                              <div class="border-right" ng-if="vm.selectedItemInfrastructure_eligible.id && !vm.selectedItemInfrastructure_eligible.$edit">
                                <md-button class="md-icon-button" aria-label="add suppression" ng-click="vm.supprimerInfrastructure_eligible()">
                                  <md-icon md-font-icon="icon-delete" ></md-icon>
                                  <md-tooltip><span>Supprimer</span></md-tooltip>
                                </md-button>
                              </div>    
                              <div class="border-right" ng-if="vm.selectedItemInfrastructure_eligible.id && !vm.selectedItemInfrastructure_eligible.$edit">
                                <md-button class="md-icon-button" aria-label="add choisi" ng-click="vm.change_statu_en_choisi()">
                                  <md-icon md-font-icon="icon-basket-fill" style="color:green"></md-icon>
                                  <md-tooltip><span>Change status en choisi</span></md-tooltip>
                                </md-button>
                              </div> 

                              <div class="border-right" ng-if="vm.selectedItemInfrastructure_eligible.id">
                                <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.annulerInfrastructure_eligible()">
                                  <md-icon md-font-icon="icon-cancel"></md-icon>
                                  <md-tooltip><span>Annuler</span></md-tooltip>
                                </md-button>
                              </div>   

                              <div ng-if="vm.selectedItemInfrastructure_eligible.$edit">
                                <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.enregistrerInfrastructure_eligible(0)">
                                  <md-icon md-font-icon="icon-checkbox-marked"></md-icon>
                                  <md-tooltip><span>Enregistrer</span></md-tooltip>
                                </md-button>
                              </div>                
                            </div>
                        </header>
                        
                    
                        <table ng-table="agep" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                            <thead>
                                <tr>
                                    <th class="secondary-text" ng-repeat="c in ::vm.infrastructure_eligible_column">
                                        <div class="table-header">
                                            <span class="column-title text-center">{{c.titre}}</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="infras in vm.allInfrastructure_eligible"  ng-class="{selected: infras.$selected}" ng-click="vm.selectionInfrastructure_eligible(infras)">                                       
                                    
                                  
                                  <td>
                                      <span ng-if="infras.$edit">
                                          <md-input-container style="width:100%;display: flex !important;">
                                            <label>Code</label>                                                
                                            <input type="text" name="code"  ng-model="infras.code"/>
                                          </md-input-container>
                                      </span>
                                      <span ng-if="!infras.$edit"> {{infras.code}}</span>
                                    </td> 
                                  <td>
                                      <span ng-if="infras.$edit">
                                          <md-input-container style="width:100%;display: flex !important;">
                                            <label>Libelle</label>                                                
                                            <input type="text" name="libelle"  ng-model="infras.libelle"/>
                                          </md-input-container>
                                      </span>
                                      <span ng-if="!infras.$edit"> {{infras.libelle}}</span>
                                    </td>  
                                    <td>
                                      <span ng-if="infras.$edit">
                                          <md-input-container style="width:100%;display: flex !important;">
                                            <label>Type infrastructure</label> 
                                              <md-select ng-model="infras.id_type_infrastructure" required>										 
                                                <md-option ng-repeat="type in vm.allType_infrastructure" value="{{type.id}}" >
                                                  {{type.code}} - {{type.libelle}}
                                                </md-option>
                                              </md-select>
                                          </md-input-container>
                                      </span>
                                      <span ng-if="!infras.$edit"> {{infras.type_infrastructure.code}} - {{infras.type_infrastructure.libelle}}</span>
                                    </td>                                                                           

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-tab>
                    <md-tab label="Infrastructure choisi">
                        <div class="price-table style-1 md-whiteframe-1dp" layout="column">
                          <form name="filtreform_choisi" class="md-inline-form" novalidate >
                            <div layout="column" layout-gt-xs="row" flex>
                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Île</label>
                                   <md-select ng-model="vm.filtre_choisi.id_ile" name="ile" ng-change="vm.filtre_choisi_region()" required>
                                    
                                     <md-option ng-repeat="ile in vm.all_ile" value="{{ile.id}}" >
                                       {{ile.Ile}}
                                     </md-option>

                                   </md-select>
                                   <div ng-messages="filtreform_choisi.ile.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>Île obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>

                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Préfecture</label>
                                   <md-select ng-model="vm.filtre_choisi.id_region" name="region" ng-change="vm.filtre_choisi_commune()" ng-disabled="!vm.filtre_choisi.id_ile" required>
                                     
                                     <md-option ng-repeat="region in vm.all_region" value="{{region.id}}" >
                                       {{region.Region}}
                                     </md-option>

                                   </md-select>
                                   <div ng-messages="filtreform_choisi.ile.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>Région obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>

                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Commune</label>
                                   <md-select ng-model="vm.filtre_choisi.id_commune" name="commune" ng-disabled="!vm.filtre_choisi.id_region" ng-change="vm.filtre_choisi_communaute()" required>
                                    
                                     <md-option ng-repeat="commune in vm.all_commune" value="{{commune.id}}" >
                                       {{commune.Commune}}
                                     </md-option>

                                   </md-select>
                                   <div ng-messages="filtreform_choisi.ile.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>Commune obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>

                               <md-input-container flex="100" flex-gt-xs="90">
                                 <label>Communaute</label>
                                   <md-select ng-model="vm.filtre_choisi.id_communaute" name="communaute" ng-disabled="!vm.filtre_choisi.id_commune"  required>
                                    
                                     <md-option ng-repeat="communaute in vm.all_communaute" value="{{communaute.id}}" >
                                       {{communaute.libelle}}
                                     </md-option>

                                   </md-select>
                                   <div ng-messages="filtreform_choisi.ile.$error"
                                     role="alert">
                                     <div ng-message="required">
                                       <span>Communaute obligatoire</span>
                                     </div>
                                   </div>
                               </md-input-container>
                              
                           </div>	
                          <div>                            
                            <section layout="row" layout-sm="column" layout-align="left" layout-wrap>
                          
                              <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                 ng-disabled="filtreform_choisi.$invalid||vm.affiche_load" ng-click="vm.get_infrastructure_choisi(vm.filtre_choisi)">
                                Actualiser
                              </md-button>                              
                            </section>                         
                           </div>
                       </form>
                            <header layout="row" layout-align="none center" style=" margin-bottom: 10px;margin-top: 10px;" class="border-top border-bottom">
                                <div layout="row" layout-align="start center">
                                <div class="border-right">
                                    
                                  <span class="md-headline">Infrastructure choisi &nbsp</span>
                                </div>    
                                  <div class="border-right" ng-if="vm.selectedItemInfrastructure_choisi.id">
                                    <md-button class="md-icon-button" aria-label="add eligible" ng-click="vm.change_statu_en_eligible()">
                                      <md-icon md-font-icon="icon-basket-unfill" style="color:red"></md-icon>
                                      <md-tooltip><span>Change status en eligible</span></md-tooltip>
                                    </md-button>
                                  </div>                 
                                </div>
                            </header>
                            
                        
                            <table ng-table="agep" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions" ms-responsive-table>
                                <thead>
                                    <tr>
                                        <th class="secondary-text" ng-repeat="c in ::vm.infrastructure_choisi_column">
                                            <div class="table-header">
                                                <span class="column-title text-center">{{c.titre}}</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="infras in vm.allInfrastructure_choisi"  ng-class="{selected: infras.$selected}" ng-click="vm.selectionInfrastructure_choisi(infras)">                                       
                                        
                                      
                                      <td>
                                          <span> {{infras.code}}</span>
                                        </td> 
                                      <td>
                                          <span> {{infras.libelle}}</span>
                                        </td>  
                                        <td>
                                          <span> {{infras.type_infrastructure.code}} - {{infras.type_infrastructure.libelle}}</span>
                                        </td>                                                                           

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-tab>
					 
                   
                    <md-tab> 
                    </md-tab> 
                </md-tabs>
            </div>
        </div>
    </div>
    