<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="space-between">
            <div layout="column" layout-align="space-between">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Suivi budgétaire</span>
                    <span class="parent"> </span>
                    <!--md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent" href="javascript:;">Groupe ML/PL</span-->
                </div>
    
            </div>
        </div>
        <div class="content" layout="column">
            <div class="form-wrapper">
                <div style="clear:both;"></div>

                <md-tabs md-dynamic-height>
                    <md-tab label="Sous-rubrique" ng-click="vm.get_all_sous_rubrique()" layout="column" flex>
                        <md-tab-body>
                            

                            <div class="price-table style-1 md-whiteframe-1dp" layout="column">
                                <header layout="row" layout-align="none center" style=" margin-bottom: 10px;margin-top: 10px;" class="border-top border-bottom">
                                    <div layout="row" layout-align="start center">
                                    <div class="border-right">
                                        
                                      <span class="md-headline">Liste des Sous-rubrique</span>
                                    </div>
                                      <div class="border-right" ng-if="!vm.selected_sous_rubrique.id&&!vm.nouvelle_sous_rubrique">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.ajouter_sous_rubrique()">
                                          <md-icon md-font-icon="icon-plus-box"></md-icon>
                                          <md-tooltip><span>Ajouter</span></md-tooltip>
                                        </md-button>
                                      </div> 
                                      <div class="border-right" ng-if="vm.selected_sous_rubrique.id&&!vm.selected_sous_rubrique.$edit">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.modifier_sous_rubrique()">
                                          <md-icon md-font-icon="icon-table-edit"></md-icon>
                                          <md-tooltip><span>Modifier</span></md-tooltip>
                                        </md-button>
                                      </div>    
                                      <div class="border-right" ng-if="vm.selected_sous_rubrique.id&&!vm.selected_sous_rubrique.$edit">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.supprimer_sous_rubrique()">
                                          <md-icon md-font-icon="icon-delete"></md-icon>
                                          <md-tooltip><span>Supprimer</span></md-tooltip>
                                        </md-button>
                                      </div>  

                                      <div class="border-right" ng-if="vm.selected_sous_rubrique.id">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.annuler_sous_rubrique()">
                                          <md-icon md-font-icon="icon-cancel"></md-icon>
                                          <md-tooltip><span>Annuler</span></md-tooltip>
                                        </md-button>
                                      </div>   

                                      <div ng-if="vm.selected_sous_rubrique.$edit">
                                        <md-button class="md-icon-button" aria-label="add Type coût divers" ng-click="vm.enregistrer_sous_rubrique(0)">
                                          <md-icon md-font-icon="icon-checkbox-marked"></md-icon>
                                          <md-tooltip><span>Enregistrer</span></md-tooltip>
                                        </md-button>
                                      </div>                
                                    </div>
                                </header>
                                
                            
                                <table ng-table="sous_rubrique" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions_new" ms-responsive-table>
                                    <thead>
                                        <tr>
                                            <th class="secondary-text" ng-repeat="c in ::vm.column_sous_rubrique">
                                                <div class="table-header">
                                                    <span class="column-title text-center">{{c.titre}}</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cm in vm.all_sous_rubrique"  ng-class="{selected: cm.$selected}" ng-click="vm.selection_sous_rubrique(cm)">                                       
                                            
                                            
                                            <td>

                                                <span ng-if="cm.$edit">
                                                    <md-input-container style="width:100%;display: flex !important;">
                                                      <label>Code</label>
                                                      
                                                      <input type="text" name="code"  ng-model="cm.code"/>
                                                    </md-input-container>   
                                                    
                                                </span>
                                                <span ng-if="!cm.$edit">
                                                    {{cm.code}}
                                                </span>
                                            </td>
                                            <td>

                                                <span ng-if="cm.$edit">
                                                    <md-input-container style="width:100%;display: flex !important;">
                                                      <label>Libellé</label>
                                                      <input type="text" name="libelle"  ng-model="cm.libelle"/>
                                                    </md-input-container>   
                                                    
                                                </span>
                                                <span ng-if="!cm.$edit">
                                                    {{cm.libelle}}
                                                </span>
                                            </td>

                                            <td>

                                                <span ng-if="cm.$edit">
                                                    <md-input-container style="width:100%;display: flex !important;">
                                                      <label>Montant</label>
                                                      <input type="number" name="montant"  ng-model="cm.montant"/>
                                                    </md-input-container>   
                                                    
                                                </span>
                                                <span ng-if="!cm.$edit">
                                                    {{vm.formatMillier(cm.montant)}} KMF
                                                </span>
                                            </td>
                                 
                                         

                                            
                                   
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="Suivi budgétaire">
                        <div style="widht:100%;">    
                            <md-button type="submit"class="md-raised custum_button_new" aria-label="Nouveau" ng-click="vm.open_masque_filtre()" style="width:10%;"><md-icon md-font-icon="icon-file-find" class="s16 center" style="color: white;"></md-icon>
                              Rechercher
                            </md-button>
                            <md-button type="submit"class="md-raised custum_button_new" aria-label="Nouveau" ng-click="vm.ajout_gestion_financiere()" style="width:10%;"><md-icon md-font-icon="icon-plus" class="s16 center" style="color: white;"></md-icon>
                              Nouveau
                            </md-button>
                            <md-button type="submit" class="md-raised custum_button" ng-if="vm.selected_gestion_financiere.id" aria-label="Modifier" ng-click="vm.modif_gestion_financiere()" style="width:10%;"><md-icon md-font-icon="icon-table-edit" class="s16" style="color: white;"></md-icon>
                              Modifier
                            </md-button>
                            <md-button type="submit" class="md-raised custum_button_del" ng-if="vm.selected_gestion_financiere.id" aria-label="Supprimer" ng-click="vm.supprimer_gestion_financiere()" style="width:10%;">
                                <md-icon md-font-icon="icon-close-circle-outline" class="s16" style="color: white;"></md-icon>
                              Supprimer
                            </md-button>
                        </div>
                        <form ng-show="vm.affichage_masque_filtre" name="form_filtre" class="md-inline-form" novalidate >
                            <div layout="column" layout-gt-xs="row" flex>

                              <div style="margin-top: 14px !important; font-size: 13px !important;">
                                  <label>Du:</label>
                                  <md-datepicker  ng-model="vm.filtre.date_debut" md-placeholder="Date" md-max-date="vm.filtre.date_fin" required>                       
                                  </md-datepicker>
                              </div>

                              <div style="margin-top: 14px !important; font-size: 13px !important;">
                                  <label>Au:</label>
                                  <md-datepicker  ng-model="vm.filtre.date_fin" md-placeholder="Date" md-min-date="vm.filtre.date_debut" md-max-date="vm.date_now" required>                       
                                  </md-datepicker>
                              </div>

                              <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                  ng-disabled="form_filtre.$invalid||vm.affiche_load " ng-click="vm.get_suivi_budgetaire(vm.filtre)">
                                  Afficher les données
                              </md-button>
                              <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.fermer_masque_filtre()">
                                  Fermer
                              </md-button>


                            </div>

                            

                         
                        </form>
                        <!--FORM  AGEX-->       
                         
                            <form ng-show="vm.affichage_masque" name="form_gestion_financiere" class="md-inline-form" novalidate >

                                <div layout="column" layout-gt-xs="row" flex>

                                  <div style="margin-top: 14px !important; font-size: 13px !important;">
                                      <label>Date:</label>
                                      <md-datepicker  ng-model="vm.gestion_financiere.date" md-placeholder="Date" md-max-date="vm.date_now" required>                       
                                      </md-datepicker>
                                  </div>


                                </div>

                                <div layout="column" layout-gt-xs="row" flex>
                       
                                  <md-input-container flex="100" flex-gt-xs="40" >
                                      <label>Composante</label>
                                      <md-select ng-model="vm.gestion_financiere.id_composante" name="id_composante"  required>
                                          
                                          <md-option  value="1">Composante 1</md-option>
                                          <md-option  value="2">Composante 2</md-option>
                                          <md-option  value="3">Composante 3</md-option>
                                          
                                      </md-select>
                                      <div ng-messages="form_gestion_financiere.id_composante.$error"
                                            role="alert">
                                        <div ng-message="required">
                                          <span>Composante Obligatoire.</span>
                                        </div>
                                      </div>
                                  </md-input-container>

                                  <md-input-container flex="100" flex-gt-xs="40" >
                                      <label>Activité</label>
                                      <md-select ng-model="vm.gestion_financiere.id_sous_rubrique" name="id_sous_rubrique"  required>
                                          
                                          <md-option ng-repeat="sp in vm.all_sous_rubrique" value="{{sp.id}}">({{sp.code}}) {{sp.libelle}}</md-option>
                                          
                                      </md-select>
                                      <div ng-messages="form_gestion_financiere.id_sous_rubrique.$error"
                                            role="alert">
                                        <div ng-message="required">
                                          <span>Activité Obligatoire.</span>
                                        </div>
                                      </div>
                                  </md-input-container>


                                  <md-input-container flex="100" flex-gt-xs="10">
                                      <input  type="text" name="zip" ng-model="vm.gestion_financiere.zip"
                                        placeholder="ZIP"    ng-init="vm.gestion_financiere.zip=''"
                                        required>
                                        <div ng-messages="form_gestion_financiere.zip.$error"
                                          role="alert">
                                          <div ng-message="required">
                                            <span>ZIP obligatoire.</span>
                                          </div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container flex="100" flex-gt-xs="10">
                                      <input  type="text" name="vague" ng-model="vm.gestion_financiere.vague"
                                        placeholder="Vague"    ng-init="vm.gestion_financiere.vague=''"
                                        required>
                                        <div ng-messages="form_gestion_financiere.vague.$error"
                                          role="alert">
                                          <div ng-message="required">
                                            <span>Vague obligatoire.</span>
                                          </div>
                                        </div>
                                    </md-input-container>
                                      
                                </div>
                                <div layout="column" layout-gt-xs="row" flex>

                                  <md-input-container flex="100" flex-gt-xs="25" >
                                      <label>Île</label>
                                      <md-select ng-model="vm.gestion_financiere.id_ile" name="id_ile" ng-change="vm.get_region_by_ile()" required>
                                          
                                          <md-option ng-repeat="sp in vm.all_ile" value="{{sp.id}}">{{sp.Ile}}</md-option>
                                          
                                      </md-select>
                                      <div ng-messages="form_gestion_financiere.id_ile.$error"
                                            role="alert">
                                        <div ng-message="required">
                                          <span>Île Obligatoire.</span>
                                        </div>
                                      </div>

                                  </md-input-container>

                                  <md-input-container flex="100" flex-gt-xs="25" >
                                      <label>Préfécture</label>
                                      <md-select ng-model="vm.gestion_financiere.id_region" name="id_region" ng-disabled="!vm.gestion_financiere.id_ile" required>
                                          
                                          <md-option ng-repeat="sp in vm.all_region" value="{{sp.id}}">{{sp.Region}}</md-option>
                                          
                                      </md-select>
                                      <div ng-messages="form_gestion_financiere.id_region.$error"
                                            role="alert">
                                        <div ng-message="required">
                                          <span>Préfécture Obligatoire.</span>
                                        </div>
                                      </div>

                                  </md-input-container>

                                  <md-input-container flex="100" flex-gt-xs="25" >
                                      <label>Commune</label>
                                      <md-select ng-model="vm.gestion_financiere.id_commune" name="id_commune" ng-disabled="!vm.gestion_financiere.id_region" required>
                                          
                                          <md-option ng-repeat="sp in vm.all_commune" value="{{sp.id}}">{{sp.Commune}}</md-option>
                                          
                                      </md-select>
                                      <div ng-messages="form_gestion_financiere.id_commune.$error"
                                            role="alert">
                                        <div ng-message="required">
                                          <span>Commune Obligatoire.</span>
                                        </div>
                                      </div>

                                  </md-input-container>

                                  <md-input-container flex="100" flex-gt-xs="25" >
                                      <label>Village</label>
                                      <md-select ng-model="vm.gestion_financiere.id_village" name="id_village" ng-disabled="!vm.gestion_financiere.id_commune" required>
                                          
                                          <md-option ng-repeat="sp in vm.all_village" value="{{sp.id}}">{{sp.Village}}</md-option>
                                          
                                      </md-select>
                                      <div ng-messages="form_gestion_financiere.id_village.$error"
                                            role="alert">
                                        <div ng-message="required">
                                          <span>Village Obligatoire.</span>
                                        </div>
                                      </div>

                                  </md-input-container>

                                </div>

                               

                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex="100" flex-gt-xs="50">
                                      <input  type="number" name="montant_engage" ng-model="vm.gestion_financiere.montant_engage"
                                        placeholder="Montant engagé (KMF)"    ng-init="vm.gestion_financiere.montant_engage=0"
                                        required>
                                        <div ng-messages="form_gestion_financiere.montant_engage.$error"
                                          role="alert">
                                          <div ng-message="required">
                                            <span>Montant engagé obligatoire.</span>
                                          </div>
                                        </div>
                                    </md-input-container>

                             

                                    <md-input-container flex="100" flex-gt-xs="50">
                                      <input  type="number" name="montant_paye" ng-model="vm.gestion_financiere.montant_paye"
                                        placeholder="Montant payé (KMF)"    ng-init="vm.gestion_financiere.montant_paye=0"
                                        required>
                                        <div ng-messages="form_gestion_financiere.montant_paye.$error"
                                          role="alert">
                                          <div ng-message="required">
                                            <span>Montant payé obligatoire.</span>
                                          </div>
                                        </div>
                                    </md-input-container>

                                    
                                    

                                    
                                </div>
                            
                                
                                <div>
                                    <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer"
                                        ng-disabled="form_gestion_financiere.$invalid||vm.affiche_load " ng-click="vm.save_in_bdd(vm.gestion_financiere,0)">
                                        Enregistrer
                                    </md-button>
                                    <md-button type="submit" class="md-raised md-primary" aria-label="Annuler" ng-click="vm.annuler()">
                                        Annuler
                                    </md-button>
                                </div>
                            </form>
                                        
                        <!--FORM  AGEX--> 
                        <table class="dataTable row-border hover cell-border text-center" datatable="ng"
                          dt-options="vm.dtOptions_new" ms-responsive-table>
                          <thead>
                            <tr>
                              <th class="secondary-text" ng-repeat="re in ::vm.entete_gestion_financiere">
                                <div class="table-header">
                                  <span class="column-title text-center">{{re.titre}}</span>
                                </div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="cua in vm.all_gestion_financiere"  ng-class="{selected: cua.$selected}" ng-click="vm.selection(cua)">
                                
                                <td>{{cua.date  | date:'dd/MM/yyyy'}}</td>
                               
                                <td>{{cua.code_composante}}</td>
                                <td>{{cua.code_sous_rubrique}}</td>
                                <td>{{cua.zip}}</td>
                                <td>{{cua.vague}}</td>
                                <td>{{cua.Ile}}</td>
                                <td>{{cua.Region}}</td>
                                <td>{{cua.Commune}}</td>
                                <td>{{cua.Village}}</td>

                                <td>{{vm.formatMillier(cua.montant_engage)}} KMF</td>
                                <td>{{vm.formatMillier(cua.montant_paye)}} KMF</td>
                            </tr>
                          </tbody>
                        </table>
                    </md-tab> 
                    <md-tab label="Etat de sortie">
                        <form name="form_filtre_etat" class="md-inline-form" novalidate >

                            <div layout="column" layout-gt-xs="row">
                                
                                <md-input-container flex="100" flex-gt-xs="20">
                                          
                                    <label>Requête</label>
                                    <md-select ng-model="vm.filtre_etat.pivot" required>

                                        <md-option ng-repeat="piv in vm.pivots" value="{{piv.id}}" > {{piv.titre}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="100" flex-gt-xs="60">
                                </md-input-container>
                                
                            </div>

                            <div layout="column" layout-gt-xs="row">
                              <div style="margin-top: 14px !important; font-size: 13px !important;">
                                  <label>Du:</label>
                                  <md-datepicker  ng-model="vm.filtre_etat.date_debut" md-placeholder="Date" md-max-date="vm.filtre_etat.date_fin" required>                       
                                  </md-datepicker>
                              </div>

                              <div style="margin-top: 14px !important; font-size: 13px !important;">
                                  <label>Au:</label>
                                  <md-datepicker  ng-model="vm.filtre_etat.date_fin" md-placeholder="Date" md-min-date="vm.filtre_etat.date_debut" md-max-date="vm.date_now" required>                       
                                  </md-datepicker>
                              </div>
                            </div>

                            <div layout="column" layout-gt-xs="row" flex ng-show="vm.filtre_etat.pivot == 'situtation_activite'">

                              <md-input-container flex="100" flex-gt-xs="25" >
                                  <label>Île</label>
                                  <md-select ng-model="vm.filtre_etat.id_ile" name="id_ile" ng-change="vm.get_region_by_ile()" ng-required="vm.filtre_etat.pivot == 'situtation_activite'">
                                      
                                      <md-option ng-repeat="sp in vm.all_ile" value="{{sp.id}}">{{sp.Ile}}</md-option>
                                      
                                  </md-select>
                                  <div ng-messages="form_filtre_etat.id_ile.$error"
                                        role="alert">
                                    <div ng-message="required">
                                      <span>Île Obligatoire.</span>
                                    </div>
                                  </div>

                              </md-input-container>

                              <md-input-container flex="100" flex-gt-xs="25" >
                                  <label>Préfécture</label>
                                  <md-select ng-model="vm.filtre_etat.id_region" name="id_region" ng-disabled="!vm.filtre_etat.id_ile" ng-required="vm.filtre_etat.pivot == 'situtation_activite'">
                                      
                                      <md-option ng-repeat="sp in vm.all_region" value="{{sp.id}}">{{sp.Region}}</md-option>
                                      
                                  </md-select>
                                  <div ng-messages="form_filtre_etat.id_region.$error"
                                        role="alert">
                                    <div ng-message="required">
                                      <span>Préfécture Obligatoire.</span>
                                    </div>
                                  </div>

                              </md-input-container>

                              <md-input-container flex="100" flex-gt-xs="25" >
                                  <label>Commune</label>
                                  <md-select ng-model="vm.filtre_etat.id_commune" name="id_commune" ng-disabled="!vm.filtre_etat.id_region" ng-required="vm.filtre_etat.pivot == 'situtation_activite'">
                                      
                                      <md-option ng-repeat="sp in vm.all_commune" value="{{sp.id}}">{{sp.Commune}}</md-option>
                                      
                                  </md-select>
                                  <div ng-messages="form_filtre_etat.id_commune.$error"
                                        role="alert">
                                    <div ng-message="required">
                                      <span>Commune Obligatoire.</span>
                                    </div>
                                  </div>

                              </md-input-container>

                              <md-input-container flex="100" flex-gt-xs="25" >
                                  <label>Village</label>
                                  <md-select ng-model="vm.filtre_etat.id_village" name="id_village" ng-disabled="!vm.filtre_etat.id_commune" ng-required="vm.filtre_etat.pivot == 'situtation_activite'">
                                      
                                      <md-option ng-repeat="sp in vm.all_village" value="{{sp.id}}">{{sp.Village}}</md-option>
                                      
                                  </md-select>
                                  <div ng-messages="form_filtre_etat.id_village.$error"
                                        role="alert">
                                    <div ng-message="required">
                                      <span>Village Obligatoire.</span>
                                    </div>
                                  </div>

                              </md-input-container>

                            </div>

                           

                            <div>
                                <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="form_filtre_etat.$invalid||vm.affiche_load" ng-click="vm.get_etat(vm.filtre_etat,0)"> 
                                  <md-icon md-font-icon="icon-refresh" class="s16 center" style="color: white;"></md-icon>
                                  Actualiser
                                </md-button>
                                <!-- <md-button type="submit" class="md-raised md-accent" aria-label="Enregistrer" ng-disabled="form_filtre_etat.$invalid||vm.affiche_load" ng-click="vm.get_etat(vm.filtre_etat,1)"> Export excel
                                </md-button> -->
                            
                            </div>
                        </form>
                        <!--TABLE LISTES etat-->
                        <div style="padding-top:10px;">

                            <table ng-table="tableetat" class="dataTable row-border cell-border text-center"  datatable="ng" dt-options="vm.dtOptions_new" ms-responsive-table>
                                <thead>
                                    <tr>
                                        <th class="secondary-text" ng-repeat="c in ::vm.entete_etat">
                                            <div class="table-header">
                                                <span class="column-title text-center">{{c}}</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cm in vm.reporting"  ng-class="{selected: cm.$selected}" ng-click="vm.selection_etat(cm)">                                       
                                        <td ng-repeat="c in ::vm.entete_etat">{{vm.replace_point(vm.formatMillier(cm[c]))}}</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            

                       </div>
                    </md-tab> 
                </md-tabs>
            </div>
        </div>
    </div>