.colorby{
    color: brown;
}
#toast_contrat
{
    .md-toast-content
    {   
       margin-top: 50px;
        margin-bottom: 50px !important;
        background-color:red !important;
        height: auto !important;
        min-height: 10 !important;
        max-width: 100 !important;
    }
}