.colorby{
    color: brown;
}
#toast_contrat
{
      
       //margin-top: 50px;
        //margin-bottom: 50px !important;
        background-color:red !important;
        //height: auto !important;
        min-height: 5px !important;
        //max-width: 100 !important;
    
}